{% extends "base.html" %}

{% block content %}
    <div class="ocf-content-block">
        <p>
            You've successfully changed the password of account
            <strong>{{account}}</strong>.
        </p>
        <p>
            Password resets take effect immediatelly, so you can go ahead and
            log in right away!
        </p>
        <p>
            <a class="btn btn-primary" href="{% url 'calnet_logout' %}"
                id="calnet_logout">Log out from CalNet</a>
            <p>(You'll be logged out in 15 seconds automatically.)</p>
        </p>
    </div>
{% endblock %}

{% block inline_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            window.setTimeout(function() {
                window.location = $('#calnet_logout').attr('href');
            }, 15000);
        });
    </script>
{% endblock %}
