<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3149.557547769481!2d{{ocf_longitude}}!3d{{ocf_latitude}}!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c2587cd775d%3A0x379e14d14aeb3cd8!2sOpen%20Computing%20Facility!5e0!3m2!1sen!2sus!4v1789266678941!5m2!1sen!2sus" width="{{width}}" height="{{height}}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>

<!-- the following is kept for the future, but i believe it's less convinient (api key) and depricated by Google --!>
<!--
<div class="google-map" id="{{id}}" style="width: {{width}}; height: {{height}};"></div>
<script>
var OCF_LATITUDE = {{ocf_latitude}},
    OCF_LONGITUDE = {{ocf_longitude}};

function initMap() {
    var map = new google.maps.Map(document.getElementById('{{id}}'), {
        center: {
            lat: OCF_LATITUDE,
            lng: OCF_LONGITUDE,
        },
        zoom: 17,
    });

    var marker = new google.maps.Marker({
        position: {
            lat: OCF_LATITUDE,
            lng: OCF_LONGITUDE,
        },
        map: map,
        title: 'Open Computing Facility',
    });
    var infowindow = new google.maps.InfoWindow({
        content: (
            '<strong>Open Computing Facility</strong><br>' +
            '171 MLK Student Union<br>' +
            'UC Berkeley, Berkeley, 94720'
        ),
    });
    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });

    {% if show_info %}
        infowindow.open(map, marker);
    {% endif %}
}
</script>
<script async delay src="https://maps.googleapis.com/maps/api/js?key={{ocf_api_key}}&callback=initMap"></script>
--!>
