{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if description %}
            <meta name="description" content="{{description}}">
        {% endif %}

        {% if og_title %}
            <meta property="og:title" content="{{og_title}}" />
        {% endif %}
        {% if og_image %}
            <meta property="og:image" content="{{og_image}}" />
        {% else %}
            <meta property="og:image" content="{% static 'img/penguin-opengraph.png' %}"/>
        {% endif %}

        <link rel="canonical" href="https://www.ocf.berkeley.edu{{ request.path }}" />

        <title>
            {% if fulltitle %}
                {{fulltitle}}
            {% else %}
                {% if title %}
                    {{title}} &ndash;
                {% endif %}
                Open Computing Facility
            {% endif %}
        </title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,500,500italic" rel="stylesheet">
        <link href="{% static 'scss/site.scss.css' %}" rel="stylesheet" />
        <link rel="icon" href="{% static 'img/favicon/favicon-16.png' %}" sizes="16x16" />
        <link rel="icon" href="{% static 'img/favicon/favicon-32.png' %}" sizes="32x32" />
    </head>
