{% load static %}
<p class="ocf-logos">
    <a href="https://www.kernel.org/"><img src="{% static 'img/about/logos/linux.png' %}" alt="linux" title="Linux" /></a>
    <a href="https://www.debian.org/"><img src="{% static 'img/about/logos/debian.svg' %}" alt="debian" title="Debian" /></a>
    <a href="https://kubernetes.io/"><img src="{% static 'img/about/logos/kubernetes.svg' %}" alt="kubernetes" title="Kubernetes" /></a>
    <a href="https://www.python.org/"><img src="{% static 'img/about/logos/python.svg' %}" alt="python" title="Python" /></a>
    <a href="https://www.apache.org/"><img src="{% static 'img/about/logos/apache.svg' %}" alt="apache" title="Apache" /></a>
    <a href="https://www.postgresql.org"><img src="{% static 'img/about/logos/postgresql.svg' %}" alt="postgresql" title="PostgreSQL" /></a>
    <a href="https://www.kde.org/"><img src="{% static 'img/about/logos/kde.svg' %}" alt="kde" title="KDE" /></a>
    <a href="https://www.vim.org/"><img src="{% static 'img/about/logos/vim.svg' %}" alt="vim" title="vim" /></a>
    <a href="https://www.gnu.org/software/emacs/"><img src="{% static 'img/about/logos/emacs.svg' %}" alt="emacs" title="Emacs" /></a>
</p>
