{% load static %}
<p class="ocf-logos">
    <a href="https://www.linuxfoundation.org/"><img src="{% static 'img/about/logos/linux.png' %}" alt="linux" title="Linux" /></a>
    <a href="https://www.debian.org/"><img src="{% static 'img/about/logos/debian.svg' %}" alt="debian" title="Debian" /></a>
    <a href="https://puppet.com/"><img src="{% static 'img/about/logos/puppet.svg' %}" alt="puppet" title="Puppet" /></a>
    <a href="https://www.python.org/"><img src="{% static 'img/about/logos/python.svg' %}" alt="python" title="Python" /></a>
    <a href="https://www.apache.org/"><img src="{% static 'img/about/logos/apache.svg' %}" alt="apache" title="Apache" /></a>
    <a href="https://www.mariadb.org/"><img src="{% static 'img/about/logos/mariadb.svg' %}" alt="mariadb" title="MariaDB" /></a>
    <a href="https://www.xfce.org/"><img src="{% static 'img/about/logos/xfce.svg' %}" alt="xfce" title="Xfce" /></a>
    <a href="https://www.vim.org/"><img src="{% static 'img/about/logos/vim.svg' %}" alt="vim" title="vim" /></a>
    <a href="https://www.gnu.org/software/emacs/"><img src="{% static 'img/about/logos/emacs.svg' %}" alt="emacs" title="Emacs" /></a>
</p>
