{% extends 'base.html' %}
{% load common %}
{% load stats %}

{% block content %}
    <div class="ocf-content-block">
        {% stats_navbar %}
        <p>
            <img class="img-responsive" src="{% url 'semester_histogram' %}" />
        </p>

        <h2>Pages printed per day</h2>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>Date</th>
                        {% for printer in current_printers %}
                            <th>{{printer}}</th>
                        {% endfor %}
                    </tr>

                    {% for day in last_month %}
                        <tr>
                            <td>{{day|date:'D M d'}}</td>
                            {% for printer in current_printers %}
                                <td>{{pages_per_day|getitem:day|getitem:printer}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <h2>Toner changes</h2>
        <p>
            <strong>Note:</strong> These numbers are a bit suspect on the new
            printers. We need to try to find a better way to get the remaining
            number of pages on a toner cartridge.
        </p>
        <div class="row">
            {% for printer, toner_changes in toner_changes %}
                <div class="col-md-6">
                    <h3>{{printer}}</h3>
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Pages Before</th>
                            <th>Pages After</th>
                        </tr>

                        {% for change in toner_changes %}
                            <tr>
                                <td>{{change.date|date:'Y-m-d'}}</td>
                                <td>{{change.pages_before}}</td>
                                <td>{{change.pages_after}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
