{% extends 'base.html' %}
{% load common %}
{% load stats %}

{% block content %}
    <div class="ocf-content-block">
        {% stats_navbar %}
        <p>
            <img class="img-responsive" src="{% url 'daily_job_image' %}" />
            <img class="img-responsive" src="{% url 'weekday_jobs_image' %}" />
            <img class="img-responsive" src="{% url 'weekend_jobs_image' %}" />
            <img class="img-responsive" src="{% url 'semester_histogram' %}" />
        </p>

        <h2>Pages printed per day</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Total</th>
                        {% for printer in current_printers %}
                            <th>{{printer}}</th>
                        {% endfor %}
                    </tr>

                    {% for day in last_month %}
                        <tr>
                            <td>{{day|date:'D M d'}}</td>
                            <td>{{pages_per_day|getitem:day|sum_values}}</td>
                            {% for printer in current_printers %}
                                <td>{{pages_per_day|getitem:day|getitem:printer}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <h2>Toner usage</h2>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Printer</th>
                        <th>Toner cartridges used this semester</th>
                    </tr>

                    {% for printer, toner_used in toner_changes %}
                        <tr>
                            <td>{{printer}}</td>
                            <td>{{toner_used}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
