{% extends "base.html" %}

{% block content %}
    <div class="ocf-content-block">
        <p>
            Your virtual host request has been successfully submitted to the OCF
            hostmaster. We will reply via email after reviewing your request. If
            you need to contact us for any reason, you may come in during
            <a href="{% url 'staff-hours' %}">staff hours</a> or email us at
            <a href="mailto:hostmaster@ocf.berkeley.edu">hostmaster@ocf.berkeley.edu</a>.
        </p>
    </div>
{% endblock %}
