amqp==2.3.2
asn1crypto==0.24.0
bcrypt==3.1.4
billiard==3.5.0.4
cached-property==1.4.3
celery==4.2.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cracklib==2.9.3
cryptography==2.3
cycler==0.10.0
Django==2.1
django-bootstrap-form==3.4
django-ipware==2.1.0
django-mathfilters==0.4.0
django-redis==4.9.0
dnspython==1.15.0
gunicorn==19.9.0
idna==2.7
Jinja2==2.10
kiwisolver==1.0.1
kombu==4.2.1
ldap3==2.5.1
libsass==0.14.5
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
numpy==1.15.0
ocflib
paramiko==2.4.1
pexpect==4.6.0
ply==3.11
ptyprocess==0.6.0
pyasn1==0.4.4
pycparser==2.18
pycryptodome==3.6.4
pycryptodomex==3.6.4
Pygments==2.2.0
PyMySQL==0.9.2
PyNaCl==1.2.1
pyparsing==2.2.0
pysmi==0.3.1
pysnmp==4.4.5
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
redis==2.10.6
requests==2.19.1
setuptools==40.0.0
six==1.11.0
SQLAlchemy==1.2.10
urllib3==1.23
vine==1.1.4
