cached-property
celery[redis]
django
django-bootstrap-form
django-ipware
django-mathfilters
django-prometheus
django-redis
gunicorn
libsass
matplotlib
mistune
numpy
ocflib
paramiko
pyasn1
pycryptodome
pygments
pymysql
python-dateutil
