argparse==1.4.0
aspy.yaml==0.2.2
ckuehl-pre-commit-types==0.7.6.dev1
coverage==4.3.4
coveralls==1.1
decorator==4.0.11
docopt==0.6.2
ipdb==0.10.2
ipython==5.2.2
ipython-genutils==0.1.0
jsonschema==2.6.0
mock==2.0.0
nodeenv==1.1.2
ordereddict==1.1
pbr==1.10.0
pickleshare==0.7.4
prompt-toolkit==1.0.13
py==1.4.32
pytest==3.0.6
pytest-django==3.1.2
requirements-tools==1.0.0
simplegeneric==0.8.1
traitlets==4.3.1
virtualenv==15.1.0
wcwidth==0.1.7
