apipkg==1.4
aspy.yaml==1.0.0
attrs==17.4.0
coverage==4.5.1
coveralls==1.2.0
docopt==0.6.2
execnet==1.5.0
identify==1.0.7
nodeenv==1.2.0
pluggy==0.6.0
pre-commit==1.6.0
py==1.5.2
pytest==3.4.1
pytest-django==3.1.2
pytest-env==0.6.2
pytest-forked==0.2
pytest-xdist==1.22.1
requirements-tools==1.1.2
setuptools==38.5.1
virtualenv==15.1.0
