aspy.yaml==0.3.0
coverage==4.4.1
coveralls==1.2.0
docopt==0.6.2
identify==1.0.6
nodeenv==1.2.0
pre-commit==1.2.0
py==1.4.34
pytest==3.2.3
pytest-django==3.1.2
requirements-tools==1.1.2
setuptools==36.5.0
virtualenv==15.1.0
