amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
cached-property==1.3.0
celery==3.1.25
cffi==1.9.1
cracklib==2.9.3
cryptography==1.7.1
cycler==0.10.0
Django==1.10.4
django-bootstrap-form==3.2.1
django-ipware==1.1.6
django-mathfilters==0.4.0
django-redis==4.6.0
dnspython==1.15.0
dnspython3==1.15.0
gunicorn==19.6.0
idna==2.2
Jinja2==2.8
kombu==3.0.37
ldap3==2.1.1
libsass==0.12.1
MarkupSafe==0.23
matplotlib==1.5.3
mistune==0.7.3
numpy==1.11.3
ocflib
paramiko==2.1.1
pexpect==4.2.1
ply==3.9
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
Pygments==2.1.3
PyMySQL==0.7.9
pyparsing==2.1.10
pysmi==0.0.7
pysnmp==4.3.2
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
redis==2.10.5
requests==2.12.4
setuptools==32.1.2
six==1.10.0
SQLAlchemy==1.1.4
