cached-property
celery[redis]<3.999
django-bootstrap-form
django-ipware
django-mathfilters
django-redis
django>=1.10,<1.10.999
gunicorn
libsass
matplotlib
mistune
numpy
ocflib
pycrypto
pygments
pymysql
python-dateutil
