cached-property
# TODO: stop using our fork
# https://github.com/celery/celery/pull/3831
ckuehl-celery[redis]==4.0.2.post1
django-bootstrap-form
django-ipware
django-mathfilters
django-redis
django>=1.10,<1.10.999
gunicorn
libsass
matplotlib
mistune
numpy
ocflib
# TODO: pysnmp==4.3.2 can't work with newer pyasn1; one we upgrade, delete this
pyasn1==0.1.9
pycrypto
pygments
pymysql
python-dateutil
