$color-blue-baby: #cbe1ea;
$color-blue-light: #f8fcfc;
$color-blue: #298399;
$color-gray-light: #ccc;
$color-gray: #888;
$color-green-light: #de9;
$color-yellow-light: #ffc;
$color-penguin-blue: #0f4d92;
$color-penguin-yellow: #ffd700;

$navbar-height: 60px;

$hero-color: $color-green-light;
$hero-button-color: #f7f7f7;
$hero-button-color-hover: #fff;

$status-bar-color: $color-blue-baby;

$footer-top-color: $color-gray-light;
$footer-bottom-color: $color-gray;
