@import 'bootstrap/bootstrap';

$color-blue-baby: #cbe1ea;
$color-blue-light: #f8fcfc;
$color-blue: #298399;
$color-gray-light: #ccc;
$color-gray: #888;
$color-green-light: #de9;
$color-yellow-light: #ffc;
$color-penguin-blue: #0f4d92;
$color-penguin-yellow: #ffd700;

$navbar-height: 60px;

$color-status-ok: #008000;
$color-status-bad: #da3131;

$hero-color: $color-green-light;
$hero-button-color: #f7f7f7;
$hero-button-color-hover: #fff;

$status-bar-color: $color-blue-baby;

$footer-top-color: $color-gray-light;
$footer-bottom-color: $color-gray;

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar-height;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f5f5f5;
}

.ocf-navbar {
    @extend .navbar-default;

    background-color: rgba(255, 255, 255, 0.9);
    border: 0;

    .navbar-brand {
        background-image: url('../img/penguin.svg');
        background-position: 7px 8px;
        background-repeat: no-repeat;
        background-size: 46px 41px;

        padding-left: 58px;

        // this gives us just enough room to avoid wrapping on iPhone
        @media (max-width: 767px) {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .navbar-brand,
    .navbar-nav > li > a {
        color: #000;
        height: $navbar-height;
        padding-top: 21px;
    }
}

.ocf-status-bar {
    background-color: $status-bar-color;

    p {
        margin: 10px 0;
    }

    .ocf-status-list {
        margin: 10px 0;

        li {
            margin-left: 5px;

            &.ocf-status-ok::before {
                background-color: $color-status-ok;
            }

            &.ocf-status-bad::before {
                background-color: $color-status-bad;
            }

            &::before {
                border-radius: 3px;
                content: ' ';
                display: inline-block;

                height: 6px;
                width: 6px;

                margin-bottom: 2px;
                margin-right: 5px;
            }
        }
    }
}

.ocf-sidebar {
    @media (max-width: 767px) {
        border-top: solid 12px #aaa;
        margin-top: 10px;
        padding-top: 5px;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 0;
    }
}

.ocf-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: $footer-bottom-color;
    padding-bottom: 20px;

    a {
        color: #000;
    }

    h5 {
        color: #000;
        font-weight: bold;

        margin-bottom: 5px;
        margin-top: 20px;
    }

    .ocf-footer-top {
        background-color: $footer-top-color;

        p {
            margin: 10px 0;
        }
    }

    .ocf-copyright {
        p {
            color: #444;
            font-size: 13px;
            line-height: 1.3em;
            margin: 0;
        }
    }
}

.ocf-content {
    background-color: white;
    padding: 20px 25px;
}
