$icon-font-path: '../fonts/bootstrap/';
@import 'bootstrap/bootstrap';

@import 'ocf';
@import 'pages/home';
@import 'pages/staff-hours';
@import 'pages/docs';

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar-height;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;

    @media (max-width: $screen-xs-max) {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.subtle {
    color: #999;

    &:hover {
        color: #999;
    }
}

.ocf-navbar {
    @extend .navbar-default;

    background-color: rgba(255, 255, 255, 0.9);
    border: 0;

    .navbar-brand {
        background-image: url('../img/penguin.svg');
        background-position: 15px 8px;
        background-repeat: no-repeat;
        background-size: 31px 41px;  // original size: 122x161

        padding-left: 58px;
        font-weight: bold;

        // this gives us just enough room to avoid wrapping on iPhone
        @media (max-width: $screen-xs-max) {
            font-size: 16px;
        }

        @media (max-width: $screen-sm-max) {
            background-position: 9px 8px;
            padding-left: 50px;
        }
    }

    .navbar-nav > li > a {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            padding-left: 11px;
            padding-right: 11px;
        }
    }

    .navbar-brand,
    .navbar-nav > li > a {
        font-size: 16px;
        color: #000;
        height: $navbar-height;
        padding-top: 21px;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 14px;
        }
    }

    @media (min-width: 768px) {
        .dropdown:hover {
            > a,
            > a:hover {
                // styles copied from .open > a
                // (unfortunately, can't @extend inside a media query)
                background-color: #e7e7e7;
                color: #555;
            }

            .dropdown-menu {
                display: block;
            }
        }
    }
}

.ocf-status-bar {
    background-color: $status-bar-color;
    font-size: 14px;

    p {
        margin: 10px 0;
    }

    .subtle {
        margin-left: 2px;
    }
}

.ocf-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: $footer-bottom-color;
    padding-bottom: 20px;

    a {
        color: #000;
    }

    h5 {
        color: #000;
        font-weight: bold;

        margin-bottom: 5px;
        margin-top: 20px;
    }

    .ocf-footer-top {
        background-color: $footer-top-color;

        p {
            margin: 10px 0;
        }
    }

    .ocf-copyright {
        p {
            color: #444;
            font-size: 13px;
            line-height: 1.3em;
            margin: 0;
        }
    }
}

.ocf-content {
    background-color: white;
    padding: 0 25px 20px;
}

.ocf-content-block {
    > :first-child {
        margin-top: 20px;
    }
}

.ocf-sidebar {
    @extend .ocf-content-block;
}

.ocf-hero {
    background-color: $hero-color;
    font-size: 16px;
    padding: 0 10px;

    @media (max-width: $screen-xs-max) {
        padding: 5px;
        font-size: 14px;

        h1 {
            margin-top: 5px;
            font-size: 20px;
        }
    }
}

.ocf-page-title {
    padding-top: 10px;
    padding-bottom: 20px;

    @media (max-width: $screen-xs-max) {
        padding-bottom: 10px;
    }
}

.nowrap {
    white-space: nowrap;
}
