@import 'bootstrap/bootstrap';
@import 'bootstrap/bootstrap/variables';

/*
   Useful variables from Bootstrap:

   $screen-xs-max: 767px

   $screen-sm-min: 768px
   $screen-sm-max: 991px

   $screen-md-min: 992px
   $screen-md-max: 1199px

   $screen-lg-min: 1200px
*/

$color-blue-baby: #cbe1ea;
$color-blue-light: #f8fcfc;
$color-blue: #298399;
$color-gray-light: #ccc;
$color-gray: #888;
$color-green-light: #de9;
$color-yellow-light: #ffc;
$color-penguin-blue: #0f4d92;
$color-penguin-yellow: #ffd700;

$navbar-height: 70px;
$navbar-color: $color-blue-baby ;

$hero-color: $color-blue-baby;
$hero-button-color: #f7f7f7;
$hero-button-color-hover: #fff;

$status-bar-color: $color-blue-baby;

$footer-top-color: $color-gray-light;
$footer-bottom-color: $color-gray;
$icon-font-path: '../fonts/bootstrap/';


html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar-height;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background-color: white;

    @media (max-width: $screen-xs-max) {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.subtle {
    color: #999;

    &:hover {
        color: #999;
    }
}

.ocf-navbar {

    // baby blue with opacity changed (http://hex2rgba.devoth.com/)
    background-color: rgba(203, 225, 234, 1.0);
    border: 0;

    .navbar-brand {
        background-image: url('../img/penguin.svg');
        background-position: 15px 8px;
        background-repeat: no-repeat;
        background-size: 31px 41px;  // original size: 122x161

        padding-left: 58px;
        font-weight: bold;

        // this gives us just enough room to avoid wrapping on iPhone
        @media (max-width: $screen-xs-max) {
            font-size: 16px;
        }

        @media (max-width: $screen-sm-max) {
            background-position: 9px 8px;
            padding-left: 50px;
        }
    }

    .navbar-nav > li > a {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            padding-left: 11px;
            padding-right: 10px;
        }
    }

    .navbar-brand,
    .navbar-nav > li > a,
    .ocf-account-dropdown {
        font-size: 16px;
        color: #5f6368;
        height: $navbar-height;
        padding-top: 25px;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 14px;
        }
    }

    .ocf-account-dropdown {
        font-size: 12px !important;
        padding-left: 10px;
        padding-right: 15px;
        background-color: rgba(100, 100, 100, 0.1);
        cursor: pointer;

        span {
            margin-left: 5px;
        }

        .glyphicon {
            margin-right: 5px;
        }
    }

    .navbar-collapse {
        max-height: 380px;
    }

    @media (min-width: 768px) {
        .dropdown:hover {
            > a,
            > a:hover {
                // styles copied from .open > a
                // (unfortunately, can't @extend inside a media query)
                background-color: #e7e7e7;
                color: #555;
            }

            .dropdown-menu {
                display: block;
            }
        }
    }
}

.ocf-status-bar {
    background-color: $status-bar-color;
    font-size: 14px;
    color: #5f6368;

    p {
        margin: 10px 0;
    }

    .subtle {
        margin-left: 2px;
    }
}

.page-home .ocf-hero {
  padding-bottom: 10px;
}

.ocf-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: $footer-bottom-color;
    padding-bottom: 20px;

    a {
        color: #000;
    }

    h5 {
        color: #000;
        font-weight: bold;

        margin-bottom: 5px;
        margin-top: 20px;
    }

    .ocf-footer-top {
        background-color: $footer-top-color;

        p {
            margin: 10px 0;
        }

        a {
            color: #337ab7;
        }
    }

    .ocf-copyright {
        p {
            color: #444;
            font-size: 13px;
            line-height: 1.3em;
            margin: 0;
        }
    }
}

.ocf-content {
    column-gap: 40px;
    background-color: white;
    padding: 0 10px;
    @media (max-width: $screen-xs-max) {
        padding: 5px;
        font-size: 14px;

        h1 {
            margin-top: 5px;
            font-size: 20px;
        }
    }
}

.ocf-content-block {
    > :first-child {
        margin-top: 0px;
    }
}


.ocf-hero {
    background-color: $hero-color;
    font-size: 16px;
    text-align: center;
    padding: 15px 15px 15px 15px;

    @media (max-width: $screen-xs-max) {
        padding: 5px;
        font-size: 14px;

        h1 {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
        }
    }
}

.ocf-page-title {
    padding-top: 10px;
    padding-bottom: 20px;

    @media (max-width: $screen-xs-max) {
        padding-bottom: 10px;
    }
}

.nowrap {
    white-space: nowrap;
}

.ocf-messages {
    margin-top: 20px;
}

/* for the benefit of django message labels */
.alert-error {
    @extend .alert-danger;
}

.form-group label .desc {
    font-weight: normal;
    font-size: 90%;
}

.ocf-hours {
  background-color: white;
  border-radius: 25px;
  border-width: medium;
  border: 0px solid #A5A4A4;
}

.ocf-login-main {
  background-color: #cbelea;
  border-radius: 25px;
  border-width: medium;
  border: 0px solid #AEC9D0;
  padding: 60px;
}

.col-sm-6 {
  width: 48%;
}
/* Create an account css */
.ocf-login-main .sso-button {
    border: 1px solid #05c;
    border-radius: 3px;
    padding: 5px;
    display: -ms-flex;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between
}

.ocf-login-main .sso-button .sso-content {
    display: -ms-flex;
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: #434343
}

.ocf-login-main .sso-button .sso-content img {
    width: 10px;
    height: 24px;
    margin-right: 8px
}

.ocf-login-main .sso-button .sso-content .sso-name {
    display: inline-block;
    flex-basis: 90%
}

.ocf-login-main .sso-button:hover {
    background-color: #e6f0ff;
    text-decoration: none
}

.ocf-location {
  margin: 5px;
}

.row {
  margin-bottom: 30px;
}
.ocf-hours1 {
  margin: 5px
}

.ocf-hours2 {
  background-color: white;
  border-radius: 5px;
  border-width: medium;
  border: 0px solid #E9E9E9;
  padding: 15px;
  height: 320px;

}

.table, .page-doc .ocf-content-block {
  margin-bottom: 0px;
}




@import 'pages/account';
@import 'pages/about';
@import 'pages/docs';
@import 'pages/home';
@import 'pages/login';
@import 'pages/staff-hours';
@import 'pages/printing-announcement';
@import 'pages/tv';
