$icon-font-path: '../fonts/bootstrap/';
@import 'bootstrap/bootstrap';

@import 'ocf';
@import 'pages/home';
@import 'pages/staff-hours';
@import 'pages/docs';

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar-height;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.subtle {
    color: #999;

    &:hover {
        color: #999;
    }
}

.ocf-navbar {
    @extend .navbar-default;

    background-color: rgba(255, 255, 255, 0.9);
    border: 0;

    .navbar-brand {
        background-image: url('../img/penguin.svg');
        background-position: 7px 8px;
        background-repeat: no-repeat;
        background-size: 46px 41px;

        padding-left: 58px;
        font-weight: bold;

        // this gives us just enough room to avoid wrapping on iPhone
        @media (max-width: 767px) {
            font-size: 16px;
        }

        @media (max-width: 991px) {
            background-position: 0 8px;
            padding-left: 50px;
        }
    }

    .navbar-nav > li > a {
        @media (min-width: 768px) and (max-width: 991px) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .navbar-brand,
    .navbar-nav > li > a {
        font-size: 16px;
        color: #000;
        height: $navbar-height;
        padding-top: 21px;

        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 14px;
        }
    }
}

.ocf-status-bar {
    background-color: $status-bar-color;
    font-size: 14px;

    p {
        margin: 10px 0;
    }

    .subtle {
        margin-left: 2px;
    }

    .ocf-status-list {
        margin: 10px 0;

        li {
            margin-left: 5px;

            &.ocf-status-ok::before {
                background-color: $color-status-ok;
            }

            &.ocf-status-bad::before {
                background-color: $color-status-bad;
            }

            &::before {
                border-radius: 3px;
                content: ' ';
                display: inline-block;

                height: 6px;
                width: 6px;

                margin-bottom: 2px;
                margin-right: 5px;
            }
        }
    }
}

.ocf-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: $footer-bottom-color;
    padding-bottom: 20px;

    a {
        color: #000;
    }

    h5 {
        color: #000;
        font-weight: bold;

        margin-bottom: 5px;
        margin-top: 20px;
    }

    .ocf-footer-top {
        background-color: $footer-top-color;

        p {
            margin: 10px 0;
        }
    }

    .ocf-copyright {
        p {
            color: #444;
            font-size: 13px;
            line-height: 1.3em;
            margin: 0;
        }
    }
}

.ocf-content {
    background-color: white;
    padding: 0 25px 20px;
}

.ocf-content-block {
    > :first-child {
        margin-top: 20px;
    }
}

.ocf-sidebar {
    @extend .ocf-content-block;
}

.ocf-hero {
    background-color: $hero-color;
    font-size: 16px;
    padding: 10px;
    padding-top: 0;
}

.ocf-page-title {
    padding-top: 10px;
    padding-bottom: 20px;
}
