{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-sm-8 ocf-content-block">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <form method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <div style="max-width: 300px;">
                        {{ form|bootstrap }}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Change Password" />
                    <a class="btn btn-default" href="{% url 'calnet_logout' %}">Cancel</a>
                </form>
            </div>
            <div class="col-sm-4">
                {% include "account/partials/password-requirements-sidebar.html" %}

                <h4>Don't see your account listed?</h4>
                <p>
                    <a href="{% url 'doc' 'internal/contact' %}">Send us an email</a> and
                    mention that your CalNet UID is <tt>{{calnet_uid}}</tt>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
