{% extends "layouts/base.html" %}

{% block title %}Account Created{% endblock %}

{% block content %}
<p>Your account has successfully been created!</p>
<p>You can start using any of our <a href="https://wiki.ocf.berkeley.edu/services/">services</a>. Watch out for an email from us with more information!</p>
<p>Thanks for flying OCF!</p>

<hr />
<p>OCF &hearts; GNU/Linux, Python, Ruby, Puppet, Free &amp; Open-Source Software!
Does this sound interesting to you? <a href="http://hello.ocf.berkeley.edu/">Learn more about joining the staff team!</a></p>

{% endblock %}
