{% extends "layouts/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% if "AD" in backend_failures or "KRB" in backend_failures %}
<ul class="errorlist">
    {% if "KRB" in backend_failures %}
    <li>There was an error changing your Linux Kerberos password.</li>
    <ul>
        <li>
            <pre>
                {{ backend_failures.KRB }}
            </pre>
        </li>
    </ul>
    {% endif %}
</ul>
<p>Please <a href="http://wiki.ocf.berkeley.edu/contact/">contact us</a> with your OCF account name and the above error messages for assistance.</p>
{% endif %}

<form method="post" action="{% url "change_password" %}" id="change-password-form">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Change Password" />
</form>

<p>Click <a href="{% url "calnet_logout" %}">here</a> to log out of CalNet.</p>
{% endblock %}
