{% extends "base.html" %}                                                                                                    
{% block title %}Account Commands{% endblock %}

{% block content %}
<p><emph>Note</emph>: You may find that running these commands via SSH is more convenient and secure. SSH also allows you access to the full range of account management tools and other services we offer. For more information, see <a href="http://docs.ocf.berkeley.edu/wiki/SSH">our documentation</a>.</p>

<form method="{% url account_tools_commands %}" action="post">
    {{ form.as_p }}
    <input type="submit" value="Run Command" />
    <input type="reset" value="Reset" />
</form>
{% endblock %}
