{% extends "base.html" %}

{% block title %}No Student Groups found for {{ calnet_uid }}{% endblock %}

{% block content %}
<p>This CalNet account is not a signatory for any student groups.</p>
<p>If you believe this is an error, please <a href="http://wiki.ocf.berkeley.edu/contact/">contact us</a> with your CalNet UID: {{ calnet_uid }}.

<p>Please logout <a href="{% url 'calnet_logout' %}" id="calnet_url">here</a> if you are not automatically redirected in 5 seconds.</p>

<script type="text/javascript">
    function redirect_to_calnet(){
        calnet_url = document.getElementById("calnet_url");
        window.location = calnet_url;
    }
    window.setTimeout("redirect_to_calnet()", 5000);
</script>
{% endblock %}
