{% extends "base.html" %}                                                                                                    
{% block title %}Request Virtual Host{% endblock %}

{% block content %}

<style>
	#request_form {
		border: solid 1px #CCC;
		padding: 10px;
		margin-top: 15px;
	}

	#request_form input[type='checkbox'] {
		position: relative;
		top: 2px;
		vertical-align: bottom;
	}

	/* overwrite some textbox rules so it's clear which are disabled and which are enabled */
	#request_form input[type='text'] {
		background-color: white;
	}

	#request_form input[type='text']:disabled {
		background-color: #EEE;
		color: #555;
	}
</style>

<h2>Request Berkeley.edu Virtual Hosting</h2>
<p>
	One of the benefits of hosting your student group's site with the OCF is that you have the option of using an address like "mygroup.berkeley.edu" to access your site.
However, in order to obtain a berkeley.edu name for your site, you must meet both university policies regarding acceptable use of berkeley.edu names, as well as OCF policies for virtual hosting.
</p>
<p>Please start by reading the <a href="http://wiki.ocf.berkeley.edu/services/vhost/">OCF Virtual Hosting documentation</a>. If you believe your group satisfies all requirements listed, you may complete the form below to request for us to set up a virtual host for your account.</p>

<div id="request_form">
	<h3>Virtual Hosting Request Form</h3>
	<form method="post">
        {% csrf_token %}

        {% if error %}
            <div class="email-error">{{ error }}</div>

            <style type="text/css">
                .email-error{
                    line-height: 1.4em;
                    font-size: 110%;
                    margin: 10px;
                    padding: 6px;

                    border:1px solid #850e0e;
                    background-color:#f55858;
                }
            </style>
        {% endif %}

        <p>You are currently logged in using the OCF account <strong>{{ user }}</strong>. If this is not the group you wish to request a virtual hosting for, please <a href="/logout">log out</a> and log back in.</p>

		<p><strong>Group Identity</strong></p>
        <p><label for="group_name">Group Name:</label> <input type="text" name="group_name" id="group_name" value="{{ attrs.cn.0 }}" disabled="disabled" /></p>
        <p><label for="group_acct">Group OCF Account:</label> <input type="text" acct="group_acct" id="group_acct" value="{{ user }}" disabled="disabled" /></p>
        <p><label for="group_url">Current OCF-Hosted Group Website:</label> <input type="text" url="group_url" id="group_url" value="{{ group_url }}" disabled="disabled" style="width: 400px;" /></p>

		<p><strong>Requested Domain</strong></p>
		{{ form.requested_subdomain.errors }}
        <p>{{ form.requested_subdomain.label_tag }} {{ form.requested_subdomain }}.berkeley.edu</p>
		{{ form.requested_why.errors }}
        <p>{{ form.requested_why.label_tag }} {{ form.requested_why }}</p>

		<p><strong>Web Site Requirements</strong></p>
		{{ form.website_complete.errors }}
        <p>{{ form.website_complete }} {{ form.website_complete.label_tag }}</p>
		{{ form.website_hosted_by_ocf.errors }}
        <p>{{ form.website_hosted_by_ocf }} {{ form.website_hosted_by_ocf.label_tag }}</p>
		{{ form.website_ocf_banner.errors }}
        <p>{{ form.website_ocf_banner }} {{ form.website_ocf_banner.label_tag }}</p>
		{{ form.website_disclaimer_text.errors }}
        <p>{{ form.website_disclaimer_text }} {{ form.website_disclaimer_text.label_tag }}</p>
		{{ form.website_updated_software.errors }}
        <p>{{ form.website_updated_software }} {{ form.website_updated_software.label_tag }}</p>

		<p><strong>Confirm Request</strong></p>
		{{ form.your_name.errors }}
        <p>{{ form.your_name.label_tag }} {{ form.your_name }}</p>
		{{ form.your_email.errors }}
        <p>{{ form.your_email.label_tag }} {{ form.your_email }}</p>
		{{ form.your_position.errors }}
        <p>{{ form.your_position.label_tag }} {{ form.your_position }} (e.g. Webmaster)</p>
		{{ form.comments.errors }}
        <p>{{ form.comments.label_tag }} {{ form.comments }}</p>

		<hr />
		<p>All virtual hosting requests are subject to both university and OCF approval. Once we have verified that you are in compliance with OCF policies, we will submit a name request to the university on your behalf using the information you provided.</p>
		<p>After double-checking that the information provided above is correct, click the button below to submit your request.</p>
		<p><input type="submit" name="submit" value="Submit Virtual Hosting Request" /></p>
	</form>
</div>

{% endblock %}
