{% extends "base.html" %}                                                                                                    
{% block title %}Request Virtual Host{% endblock %}

{% block content %}

<h2>Request Berkeley.edu Virtual Hosting</h2>
<p>Your virtual host request has been successfully submitted to the OCF hostmaster. We will reply via email after reviewing your request. If you need to contact us for any reason, you may come in during <a href="http://ocf.io/staff_hours">staff hours</a> or email us at <a href="mailto:hostmaster@ocf.berkeley.edu">hostmaster@ocf.berkeley.edu</a>.</p>

{% endblock %}
