{% extends "layouts/base.html" %}

{% block title %}Requested Account{% endblock %}

{% block content %}
<p>Your account has successfully been submitted for approval!</p>

<p>Most of the time, accounts can be created instantly, but if your account
needs review by a staff member first, it might take a little longer. We'll send
you an email when your account is ready!</p>

<p>OCF &hearts; GNU/Linux, Python, Ruby, Puppet, Free &amp; Open-Source Software!
Does this sound interesting to you? <a href="http://hello.ocf.berkeley.edu/">Learn more about joining the staff team!</a></p>

{% endblock %}
