{% extends "base.html" %}

{% block title %}Your Account is Being Created{% endblock %}

{% block meta %}
<!-- TODO: javascript this, make it prettier/ajaxy -->
<meta http-equiv="refresh" content="1">
{% endblock %}

{% block content %}
<h1>Please wait, your account is being created.</h1>
<p>Current Status:</p>
<ul>
    {% for line in status %}
        <li>{{ line }}</li>
    {% endfor %}
</ul>
<p><em>This page should automatically refresh.</em></p>

<hr />
<p>OCF &hearts; GNU/Linux, Python, Ruby, Puppet, Free &amp; Open-Source Software!
Does this sound interesting to you? <a href="http://hello.ocf.berkeley.edu/">Learn more about joining the staff team!</a></p>

{% endblock %}
