  <div id="header">

    <div>
      <h1><a href="/">The OCF</a></h1>

	<div id="headerbanner" style="position:absolute; top:0px; left:100px; width:179px; height:60px; padding:0; margin:0;">
	<!--duplicate style attribute to override positioning bug-->
	</div>




      <ul>
        <li><a href="//www.ocf.berkeley.edu">Home</a></li>
	<li><a href="//wiki.ocf.berkeley.edu/services/">Services</a></li>
	<li><a href="//www.ocf.berkeley.edu/OCF/">About us</a></li>
	<li><a href="//wiki.ocf.berkeley.edu/membership/">Get account</a></li>
	<li><a href="//www.ocf.berkeley.edu/staff_hours">Staff hours</a></li>
	<li><a href="//wiki.ocf.berkeley.edu/contact/">Contact us</a></li>
	<li><a href="//wiki.ocf.berkeley.edu/">Help wiki</a></li>

      </ul>
    </div>
  </div>
