{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="ocf-content-block">
        <div class="row">
            <div class="col-sm-8">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <p>
                    Sorry! Before you can proceed, we need to know who you are.
                    Please enter your OCF username and password below to continue.
                </p>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div style="max-width: 300px;">
                        {{ form|bootstrap }}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Login" />
                </form>
            </div>
            <div class="col-sm-4">
                <h3>OCF Accounts</h3>
                <p>
                    Your OCF account is specific to the Open Computing
                    Facility; it's <em>not</em> the same as your university
                    CalNet account or your email account.
                </p>
                <p>
                    If you've never used OCF services before, it's possible you
                    might not have an account at all. If that's the case, <a
                    href="{% url 'register' %}">how about joining</a>?
                </p>
            </div>
        </div>
    </div>
{% endblock %}
