@import 'docs/commands';
@import 'docs/servers';

.page-doc .ocf-content-block {
    table {
        @extend .table;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:hover .anchor {
            display: inline;
        }


        // hack to make anchors jump to 60px above the actual header so that
        // they aren't blocked by the fixed OCF navbar
        &::before {
            content: '';
            display: block;
            height: $navbar-height; // height of ocf navbar
            margin-top: -$navbar-height; // negative navbar height
        }

        .anchor {
            display: none;
            font-size: 18px;

            span {
                @extend .glyphicon-link;
                @extend .glyphicon;

                color: #aaa;
            }

            &:hover span {
                color: #777;
            }
        }
    }

    h4 .anchor {
        font-size: 16px;
    }

    h5 .anchor {
        font-size: 13px;
    }

    h6 .anchor {
        font-size: 10px;
    }

    .edit-this-page, .page-history {
        padding: 5px;
        font-size: 13px;

        &:hover {
            background-color: #f7f7f7;
            text-decoration: none;
        }

        .glyphicon {
            font-size: 10px;
            margin-left: 5px;
            margin-right: 2px;
        }
    }

    .page-github-icons {
        border-bottom: solid 1px $hr-border;
        padding-bottom: 10px;
    }
}

.doc-collapse-toggle {
    @extend .btn;
    @extend .btn-lg;

    background-color: #f0f0f0;
    color: #000;
    margin-bottom: 10px;

    .glyphicon {
        @extend .glyphicon-minus;

        font-size: 10px;
        position: relative;
        top: -2px;
        margin-right: 2px;
    }


    &.collapsed .glyphicon {
        @extend .glyphicon-plus;
    }

    &:hover {
        background-color: #f7f7f7;
    }
}

.ocf-doc-toc {
    display: none;
}

.ocf-sidebar .ocf-doc-toc {
    display: block;
}

.ocf-doc-categories {
    column-count: 2;
}

.ocf-category-box {
    width: 100%;
    padding: 0.625em;
    margin: 0.625em;
    display: inline-block;

    h4 {
        font-size: 1.3em;
        margin: 0 0 0.3em 0.1em;
    }

    ul {
        margin-left: 1.5em;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .ocf-doc-categories {
        column-count: 3;
    }
}

@media (max-width: 767px) {
    .ocf-doc-toc {
        display: block;
    }

    .ocf-sidebar .ocf-doc-toc {
        display: none;
    }

    .ocf-doc-categories {
        column-count: unset;
    }
}
