.page-staff-hours {
    .day {
        border-width: thin;
        padding: 20px;

        .daytitle {
            font-size: 22px;
            padding: 0 10px 5px;
        }

        &.cancelled .title {
            color: #999;
        }

        .cancelled-text {
            color: #b20000;
            font-weight: bold;
        }

        .hour {
            margin-bottom: 15px;
            border-width: thin;

            .title {
                font-size: 16px;
                padding: 7px 10px 5px;
                border: solid 1px #ddd;
                background-color: #eee;

                strong {
                    margin-right: 3px;
                }

                span {
                    margin-left: 3px;
                }
            }

            .content {
                padding: 13px;
            }

            .ocf-staffhours-faces {
                @extend .list-inline;
                margin-bottom: 0;

                li {
                    h4,
                        h5 {
                        text-align: center;
                        }

                    h4 {
                        margin-top: 5px;
                        margin-bottom: 4px;
                        font-size: 16px;
                    }

                    h5 {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: normal;
                    }

                    img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            &.cancelled .ocf-staffhours-faces {
                opacity: 0.6;
            }
        }
   }
}
