$base-font-size: 8vw;

.page-tv {

    .page-tv-hours {
        font-size: $base-font-size;

        p {
            @extend .text-center;
        }

        .hours-container {
            font-size: $base-font-size + 12;
            line-height: 1em;
            text-wrap: none;
        }
    }
}
