$base-font-size: 8vw;
$tv-hours-large: 12;
$tv-hours-small: 4;

.page-tv {

    .page-tv-hours {
        @extend .text-center;

        font-size: $base-font-size;

        .hours-container > p {
            line-height: 0.8em;
        }

        .hours-large {
            font-size: $base-font-size + $tv-hours-large;
        }

        .hours-small {
            font-size: $base-font-size + $tv-hours-small;
        }
    }
}
