@import '../ocf';
@import 'docs/servers';

.page-doc .ocf-content-block {
    table {
        @extend .table;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:hover .anchor {
            display: inline;
        }

        .anchor {
            display: none;
            font-size: 18px;

            span {
                @extend .glyphicon-link;
                @extend .glyphicon;

                color: #aaa;
            }

            &:hover span {
                color: #777;
            }
        }
    }

    h4 .anchor {
        font-size: 16px;
    }

    h5 .anchor {
        font-size: 13px;
    }

    h6 .anchor {
        font-size: 10px;
    }
}
