@import '../ocf';
@import 'docs/servers';

.page-doc .ocf-content-block {
    table {
        @extend .table;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:hover .anchor {
            display: inline;
        }

        .anchor {
            display: none;
            font-size: 18px;

            span {
                @extend .glyphicon-link;
                @extend .glyphicon;

                color: #aaa;
            }

            &:hover span {
                color: #777;
            }
        }
    }

    h4 .anchor {
        font-size: 16px;
    }

    h5 .anchor {
        font-size: 13px;
    }

    h6 .anchor {
        font-size: 10px;
    }

    .edit-this-page {
        display: block;
        padding: 5px;
        font-size: 13px;

        &:hover {
            background-color: #f7f7f7;
            text-decoration: none;
        }

        .glyphicon {
            font-size: 10px;
            margin-left: 5px;
            margin-right: 2px;
        }
    }

    .edit-page-border {
        margin-top: 0;
    }
}

.doc-collapse-toggle {
    @extend .btn;
    @extend .btn-lg;

    background-color: #f0f0f0;
    color: #000;
    margin-bottom: 10px;

    .glyphicon {
        @extend .glyphicon-minus;

        font-size: 10px;
        position: relative;
        top: -2px;
        margin-right: 2px;
    }


    &.collapsed .glyphicon {
        @extend .glyphicon-plus;
    }

    &:hover {
        background-color: #f7f7f7;
    }
}

.ocf-doc-toc {
    display: none;
}

.ocf-sidebar .ocf-doc-toc {
    display: block;
}

@media (max-width: 767px) {
    .ocf-doc-toc {
        display: block;
    }

    .ocf-sidebar .ocf-doc-toc {
        display: none;
    }
}
