{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 ocf-content-block">
            <h3></h3>
            <p><em>October 30, 2018</em></p>
            <hr />
            <p><i>
                We are looking to hire students to be OCF Operations
                staff for the 2019 academic year and onward! This includes two paid
                positions, Operations Assistant and Operations Manager, neither
                of which require any technical experience. These are very
                important roles, and without dedicated and passionate students
                to fill them, the OCF will not be able to stay open next
                semester.
            </i></p>

            <h3>Operations Assistants</h3>
            <p>
                Operations Assistants will have the following responsibilities:

                <ul>
                    <li>Staffing the front desk</li>
                    <ul>
                        <li>Maintaining lab security</li>
                        <li>Assisting OCF members with using the lab</li>
                        <li>Carrying out regular lab maintenance</li>
                    </ul>
                    <li>Working on projects that benefit the OCF</li>
                    <ul>
                        <li>Marketing and outreach</li>
                        <li>Collecting feedback on OCF services</li>
                        <li>Organizing events taking place in the lab</li>
                        <li>Researching and applying for additional sources of
                            funding for the OCF</li>
                    </ul>
                    <li>Attending regular meetings with the Operations Manager
                        and the other Operations Assistants</li>
                </ul>

                The salary for this position is $15 per hour.
            </p>

            <h3>Operations Manager</h3>
            <p>
                The Operations Manager has the same basic responsibilities as an Operations Assistant,
                but will also be responsible for managing OAs, their shifts and projects, and scheduling
                and leading meetings with OAs and OCF Volunteer staff. The OM position places a greater
                emphasis on managerial duties than time spent staffing the front desk.

                The salary for this position is $17 per hour.
            </p>
            <h3>Application</h3>
            <p>
            Applications close on Sunday, November 4th at 11:59 PM. Apply <a href="https://ocf.io/hiring">here</a>!
            </p>
        </div>

        <div class="col-sm-4 ocf-sidebar">
          <hr class="visible-sm" />
            <h3>About the OCF</h3>
            <p>
              The OCF is an all-volunteer, student-run, Chartered Program of the
              <a href="https://asuc.org">Associated Students of the University of California (ASUC)</a>
              dedicated to free computing for all <a href="https://berkeley.edu">University of California at Berkeley</a>
              students, faculty, and staff. The mission of the OCF is to provide an environment where no member of Berkeley's
              campus community is denied the computer resources he or she seeks, to appeal to all members of the Berkeley
              campus community with unsatisfied computing needs, and to provide a place for those interested in computing to
              fully explore that interest.
            </p>
            <p>
                We provide a variety of services to the campus community, including the following:
            </p>
            <ul>
                <li>
                    <a href="{% url 'doc' 'services/lab' %}">
                        A spiffy computer lab in 171 MLK</a>, visited by around
                    500 students per day, and over 10,000 per year
                </li>
                <li>
                    <a href="{% url 'doc' 'services/web' %}">Web, application,
                        and email hosting</a> for over 80% of student groups and
                    thousands of individual students
                </li>
                <li>
                    <a href="{% url 'doc' 'services/lab/printing' %}">Free
                        printing</a>, used by over 5,000 students per semester
                </li>
            </ul>
            <hr />
            <p class="text-center">
                <img src="{% static 'img/penguin.svg' %}" />
            </p>
        </div>
    </div>
{% endblock %}
