{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 ocf-content-block">
            <p>
                From time to time, the OCF makes announcements about new
                events, operational changes, or service interruptions. Below
                is a list of recent updates.
            </p>

            <h3>Organizational updates</h3>

            <p>
                The full archive of our past announcements is available in
                <a href="{{docs_url}}/news">our documentation</a>.
            </p>

            <ul>
                {% for news_post in news_posts %}
                    <li>
                        <a href="{{news_post.link}}">{{news_post.title}}</a><br />
                        {{news_post.pubDate | naturaltime}}
                    </li>
                {% endfor %}
            </ul>

            <h3>Recent service status and interruptions</h3>

            <p>
                Service information is primarily posted to
                <a href="https://status.ocf.berkeley.edu">our dedicated status blog</a>.
                Consider bookmarking it or subscribiting to the for information even when the rest of the OCF is down.
            </p>
            <p>
                Here are some recent updates from it:
            </p>

            <ul>
                {% for status_post in status_posts %}
                    <li>
                        <a href="{{status_post.link}}">{{status_post.title}}</a><br />
                        {{status_post.pubDate | naturaltime}}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-4 ocf-sidebar">
            <img class="img-responsive" src="{% static 'img/about/staff-bonding-squarer.jpg' %}" />

            <h4>About the Open Computing Facility</h4>
            <p><strong>The OCF is an all-volunteer student organization.</strong></p>
            <p>
                Our staff work hard to provide valuable services to the
                campus community:
            </p>
            <ul>
                <li>
                    <a href="{% url 'lab' %}">
                        A spiffy computer lab in 171 MLK</a>
                </li>
                <li>
                    <a href="{{docs_url}}/user-docs/services/web/">Web, application,
                        and email hosting</a>
                    for over 80% of student groups and thousands of individual
                    students.
                </li>
                <li>
                    <a href="{{docs_url}}/user-docs/services/lab/printing/">Free
                        printing</a>, used by over 5,000 students per semester.
                </li>
            </ul>
            <p>
                <a href="{% url 'about-staff' %}">Learn more about the OCF volunteers.</a>
            </p>
        </div>
    </div>
{% endblock %}
