{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 ocf-content-block">
            <p>
                We try to keep things running smoothly, but occasionally need
                to announce service disruptions or other changes. Below is a
                list of recent updates.
            </p>

            <h3>Organizational updates</h3>
            <ul>
                {% for announcement in announcements %}
                    <li>
                        <a href="{% url announcement.route_name %}">{{announcement.title}}</a><br />
                        {{announcement.datetime | naturaltime}}
                    </li>
                {% endfor %}
            </ul>

            <h3>Recent service status and interruptions</h3>

            <p>
                Service information is primarily posted to
                <a href="https://status.ocf.berkeley.edu">our off-site status blog</a>.
                Consider bookmarking it for information even when the rest of the OCF is down.
            </p>
            <p>
                Here are some recent updates from it:
            </p>

            <ul>
                {% for blog_post in blog_posts %}
                    <li>
                        <a href="{{blog_post.link}}">{{blog_post.title}}</a><br />
                        {{blog_post.published | naturaltime}}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-4 ocf-sidebar">
            <img class="img-responsive" src="{% static 'img/about/staff-bonding-squarer.jpg' %}" />

            <h4>About the Open Computing Facility</h4>
            <p><strong>The OCF is an all-volunteer student organization.</strong></p>
            <p>
                Our staff work hard to provide valuable services to the
                campus community:
            </p>
            <ul>
                <li>
                    <a href="{% url 'doc' 'services/lab' %}">
                        A spiffy computer lab in 171 MLK</a>
                </li>
                <li>
                    <a href="{% url 'doc' 'services/web' %}">Web, application,
                        and email hosting</a>
                    for over 80% of student groups and thousands of individual
                    students.
                </li>
                <li>
                    <a href="{% url 'doc' 'services/lab/printing' %}">Free
                        printing</a>, used by over 5,000 students per semester.
                </li>
            </ul>
            <p>
                <a href="{% url 'about-staff' %}">Learn more about the OCF volunteers.</a>
            </p>
        </div>
    </div>
{% endblock %}
