{% extends "base.html" %}

{% block title %}Redirecting to CalNet{% endblock %}

{% block content %}
Now redirecting to CalNet to authenticate.<br />
Please click <a href="{{ calnet_url }}" id="calnet_url">here</a> if you are not automatically redirected in 5 seconds.

<script type="text/javascript">
    function redirect_to_calnet(){
        calnet_url = document.getElementById("calnet_url");
        window.location = calnet_url;
    }
    window.setTimeout("redirect_to_calnet()", 5000);
</script>
{% endblock %}
