.bg{fill:url(#Gradient-BG);}
.text-font{font-family:'Helvetica';}
.text-color{fill:#444444;}
.text-color-blue{fill:#0F4E91;}
.text-size-medium{font-size:48px;}
.text-size-large{font-size:72px;}
.floor-shadow{opacity:0.5;fill:#777777;}
.floor-left{fill:#514747;}
.floor-right{fill:#605553;}
.floor-top{fill:url(#Gradient-Floor);}
.wall-side-left{fill:#E1CEC4;}
.wall-side-right{fill:#EBDED8;}
.wall-right{fill:url(#Gradient-Wall-Right);}
.wall-left{fill:url(#Gradient-Wall-Left);}
.wall-top{fill:#FDF1E8;}
.desk-shadow{opacity:0.5;fill:#424242;}
.desk-left{fill:#C9C9C9;}
.desk-right{fill:#D6DADA;}
.desk-top{fill:#E7E8E9;}
.tv-screen{fill:#E7E8E9;}
.tv-text-color{fill:#444444;}
.occupied{fill:#464648;}
.available{fill:#9EEBB4;}
.staff{fill:#9EEBB4;}
.debian-logo{fill:#B3B3B3;}
.text-color-blue{fill:#0F4E91;}
.st4{fill:#231F20;}
.st5{fill:#FFFFFF;}
.st6{fill:#0F4E91;}
.st7{fill:#FDD700;}
.st18{fill:#4D575A;}
.st19{fill:#717A7E;}
.st20{fill:#3B4548;}
.st21{fill:none;stroke:#231F20;stroke-miterlimit:10;}
.st25{fill:url(#SVGID_4_);}
.st26{fill:#F2F3FF;}
.st27{fill:#80553A;}
.st28{fill:#74462E;}
.st29{fill:#80BB75;}
.st30{fill:#8AC280;}
.st31{fill:#4F9D6A;}
.st32{fill:url(#SVGID_5_);}
.st33{enable-background:new    ;}
.st34{fill:#49474F;}
.st35{fill:#64616C;}
.st36{fill:#928E9E;}
.st37{clip-path:url(#SVGID_7_);enable-background:new    ;}
.st38{clip-path:url(#SVGID_9_);enable-background:new    ;}
.st39{fill:#57575D;}
.st40{fill:#8B8B8C;}
.st41{fill:#F8F081;}
.st42{fill:#FBF9DA;}
.st43{fill:#BDE6F6;}
.st44{fill:#636464;}
.st45{fill:#5B595A;}
.st46{fill:#4A494A;}
.st47{fill:#5D9CB4;}
.st48{fill:#448599;}
.st49{fill:#666766;}
.st50{fill:#F15523;}
.st51{fill:#757576;}
.st52{fill:#ABB2B2;}
.st53{fill:#DAE0DE;}
