{% extends 'tv/base.html' %}
{% load tv_formatting %}

{% block tv-body %}
<div class="page-tv-hours">
  <p> Hours for {{ hours.date | date:'l, M j' }} </p>
  <div class="hours-container {{ hours.hours | tv_lab_hours_css }}">
    {% for hour in hours.hours %}
    <p> {{ hour | tv_lab_hours }} </p>
    {% empty %}
    <p> Closed All Day </p>
    {% endfor %}
  </div>
  <div class="desktop_usage">
	<p id="desktop_num"></p>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script>
	function update_desktops() {
		$.getJSON("http://supernova.ocf.berkeley.edu:8977/api/desktop_usage",
		function(json) {
		document.getElementById("desktop_num").innerHTML = 
			"There are " + (json.total_desktops - json.users_in_lab)
			+ " computers available";});	
	};
	update_desktops();
	setInterval(update_desktops, 15*1000);
	</script>
  </div>
</div>


{% endblock %} 
