<form method="POST" action="{% url 'vhost_mail_update' %}">
    {% include 'partials/modal-0.html' with id="js-modal-add-address" %}
    <h4 class="modal-title">Add Address</h4>
    {% include 'partials/modal-1.html' %}

    <input type="hidden" name="action" value="add" />
    <input type="hidden" name="addr" class="js-addr" />
    <input type="hidden" name="forward_to" class="js-forward-to" />

    <p>Add a new address for <strong class="js-domain"></strong>.</p>
    <hr />

    <div class="form-group">
        <label for="add-modal-addr">
            Incoming address<br />
            <div class="hide-wildcard">
                <span class="desc">
                    This is the receiving address. Only include the part before
                    the "@" sign.
                </span>
                <div class="alert alert-danger js-warn-addr" style="display: none;">
                    Don't include an "@" sign or the domain name!
                </div>
                <input type="text" class="form-control" name="name" placeholder="john" id="add-modal-addr" />
            </div>
            <div class="show-wildcard">
                <span class="desc">
                    Catch-all address. All emails to <tt>{anything}@<span class="js-domain"></span></tt>
                    which don't match any other address will go here.
                </span>
            </div>
        </label>
    </div>
    <div class="form-group">
        <label>
            Forwarding address<br />
            <span class="desc">
                These are the addresses to forward incoming mail to. Use a full
                email address here. You can add as many as you'd like; every
                incoming email will be forwarded to each.
            </span>
        </label>
        <div class="js-forward-to-addresses"></div>
        <p>
            <button type="button" class="btn btn-small btn-default js-add-another">
                <span class="glyphicon glyphicon-plus"></span>
                Add Another
            </button>
        </p>
    </div>
    <div class="form-group hide-wildcard">
        <label for="add-modal-password">
            Password<br />
            <span class="desc">
                If you want to send email from this account, you'll need to
                set a password. If you don't want to send mail, you can
                leave this blank.
            </span>
        </label>
        <input type="password" class="form-control" name="password" id="add-modal-password" />
    </div>

    {% include 'partials/modal-2.html' %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add address</button>
    {% include 'partials/modal-3.html' %}
    {% csrf_token %}
</form>
