<form method="POST" action="{% url 'vhost_mail_update' %}">
    {% include 'partials/modal-0.html' with id="js-modal-change-password" %}
    <h4 class="modal-title">Change Password</h4>
    {% include 'partials/modal-1.html' %}

    <input type="hidden" name="action" value="update" />
    <input type="hidden" name="addr" class="js-email" />

    <div class="well">
        {% include "account/partials/password-requirements-sidebar.html" with omit_header=True %}
    </div>
    <p>Enter a new password for <strong class="js-email"></strong>:</p>
    <p>
        <input name="password" type="password" class="form-control" placeholder="Password" />
    </p>
    {% include 'partials/modal-2.html' %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Change password</button>
    {% include 'partials/modal-3.html' %}
    {% csrf_token %}
</form>
