<!-- edit forward to modal -->
<form method="POST" action="{% url 'vhost_mail_edit_forward_to' %}">
    {% include 'partials/modal-0.html' with id="js-modal-edit-forward-to" %}
    <h4 class="modal-title">Edit Forward To</h4>
    {% include 'partials/modal-1.html' %}

    <p>Modify forwarding addresses for <strong class="js-email"></strong>.</p>
    <hr />
    <div class="form-group">
        <label>
            Forwarding address<br />
            <span class="desc">
                These are the addresses to forward incoming mail to. Use a full
                email address here. You can add as many as you'd like; every
                incoming email will be forwarded to each.
            </span>
        </label>
        <div class="js-forward-to-addresses"></div>
        <p>
            <button type="button" class="btn btn-small btn-default js-add-another">
                <span class="glyphicon glyphicon-plus"></span>
                Add Another
            </button>
        </p>
    </div>

    {% include 'partials/modal-2.html' %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <input type="hidden" name="forward_to" class="js-forward-to" />
    <input type="hidden" name="addr" class="js-email" />
    <button type="submit" class="btn btn-primary">Save</button>
    {% include 'partials/modal-3.html' %}
    {% csrf_token %}
</form>
