{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="ocf-content-block">
        <p>
            One of the benefits of hosting your website with the OCF is that department and student groups have the option of using an address like "mygroup.berkeley.edu" to access their site.
            However, in order to use a custom domain name for your site, you must meet both university policies regarding acceptable use of berkeley.edu names, as well as OCF policies for virtual hosting.
        </p>
        <p>
            Please start by reading the
            <a href="{% url 'doc' 'services/vhost' %}">OCF Virtual Hosting documentation</a>.
            If you believe you have satisfied all requirements listed, you may
            complete the form below to request for us to set up a virtual host
            for your account.
        </p>

        <p>
            You are currently logged in using the OCF account
            <strong>{{user}}</strong>. If this is not the account you wish to
            request a virtual hosting for, please <a href="{% url 'logout' %}">
            log out</a> and log back in.
        </p>

        <div class="well">
            <h3 style="margin-top: 0;">Virtual Hosting Request Form</h3>
            <ul>
                <li><strong>Name:</strong> {{attrs.cn.0}}</li>
                <li><strong>OCF Account:</strong> {{user}}</li>
                <li>
                    <strong>Current OCF-Hosted Website:</strong>
                    <a href="{{group_url}}">{{group_url}}</a>
                </li>
            </ul>

            <form method="post">
                {% csrf_token %}

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p>There were errors in your response:</p>
                        {% for field, errors in form.errors.items %}
                            <strong>{{ field }}:</strong>
                            <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}

                {{form.requested_domain_type|bootstrap}}
                {{form.requested_subdomain|bootstrap}}

                <p><strong>Website requirements:</strong></p>
                <p>
                    Please read and confirm your understanding of each of the
                    following website requirements.
                </p>
                {{form.website_complete|bootstrap}}
                {{form.website_hosted_by_ocf|bootstrap}}
                {{form.website_ocf_banner|bootstrap}}
                {{form.website_disclaimer_text|bootstrap}}
                {{form.website_updated_software|bootstrap}}
                {{form.website_hostmaster_policy|bootstrap}}

                {% if is_group %}
                    {{form.your_name|bootstrap}}
                {% endif %}
                {{form.your_position|bootstrap}}
                {{form.your_email|bootstrap}}
                {{form.university_contact|bootstrap}}
                {{form.university_purpose|bootstrap}}
                {{form.comments|bootstrap}}

                <hr />
                <p>
                    All virtual hosting requests are subject to both university and
                    OCF approval. Once we have verified that you are in compliance
                    with OCF policies, we will submit a name request to the
                    university on your behalf using the information you provided.
                </p>
                <p>
                    After double-checking that the information provided above is
                    correct, click the button below to submit your request.
                </p>
                <p>
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit Virtual Hosting Request" />
                </p>
            </form>
        </div>
    </div>
{% endblock %}
