{% extends "base.html" %}

{% block content %}
<div class="ocf-content-block">
    <p>
        Your account is not eligible for virtual hosting. Only <strong>student
        groups, faculty, and academic staff</strong> can request virtual
        hosting. See our <a href="{% url 'doc' 'services/vhost' %}">virtual
        hosting policy</a> for more information.
    </p>
    <p>
        You are currently logged in using the OCF account
        <strong>{{user}}</strong>. If this is not the group you wish to request
        a virtual hosting for, please <a href="{% url 'logout' %}">log out</a>
        and log back in.
    </p>
</div>
{% endblock %}
