{% extends "base.html" %}

{% block content %}
    <div class="ocf-content-block">
        <p>
            You already have an OCF account! Your username is
            <strong>{{account}}</strong>. If you can't remember your password,
            you can reset it <a href="{% url 'change_password' %}">here</a>. Otherwise, you can <a href="{% url 'login' %}">log in</a> to access your OCF account.
        </p>
        <p>If you believe this is an error, please <a href="{% url 'doc' 'contact' %}">
            contact us</a> with your CalNet UID: <tt>{{calnet_uid}}</tt>.

        <p>If you are not signing into the OCF, please log out of CalNet <a href="{% url 'calnet_logout' %}" id="calnet_url">here</a>.</p>
    </div>
{% endblock %}
