{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-8 ocf-content-block">

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% if status == 'has_errors' %}
                            <p><strong>Your account couldn't be created for the following reasons:</strong></p>
                        {% elif status == 'has_warnings' %}
                            <p><strong>Your account has been flagged for the following reasons:</strong></p>
                        {% endif %}

                        {{ form.non_field_errors }}
                        <hr />

                        {% if status == 'has_errors' %}
                            <p>Please fix these issues and re-submit the form.</p>
                        {% elif status == 'has_warnings' %}
                            <p>
                                If you'd like, you can still submit your account
                                request, but it will take longer to process, as our
                                volunteer staff team will need to manually review it.
                            </p>
                            <p>
                                Either click below to submit anyway, or change
                                your submission below.
                            </p>
                            <p>
                                <input class="btn btn-danger" type="submit"
                                    name="warnings-submit" value="Ignore Warnings, Submit Anyway" />
                            </p>
                        {% endif %}
                    </div>
                {% endif %}

                <p>
                    This form is <strong>only</strong> for requesting
                    individual accounts. If you want to request an account for
                    a student group, please visit a staff member in the OCF lab
                    during <a href="{% url 'staff-hours' %}">staff hours</a>.
                </p>

                <hr />
                <p><strong>Full Name</strong></p>
                <p id=real_name>{{real_name|title}}</p>

                <hr />

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-7">
                            <p>Your account name must consist of between three and 16 lowercase letters (no spaces, numbers, underscores, or other symbols), and it <strong><strong>MUST</strong> be based on your real name or initials.</strong></p>
                            {{form.ocf_login_name|bootstrap}}
                            <div class="alert alert-success" role="alert" id="valid_username_notif" style="display: none; padding: 7px"></div>
                            <div class="alert alert-danger" role="alert" id="invalid_username_notif" style="display: none; padding: 7px"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="well well-sm">
                                <strong>Available account names</strong>
                                <ul class="list-group list-group-flush" id="recommendations" style="margin: 7px; overflow-y: scroll; max-height: 150px;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <p>
                    Your password should be unique to your OCF account and not
                    shared with any other accounts, including your Berkeley
                    CalNet account. <em>Never share your password with anyone,
                    including OCF staff members.</em>
                </p>
                {{form.password|bootstrap}}
                {{form.verify_password|bootstrap}}

                <hr />

                {{form.contact_email|bootstrap}}
                {{form.verify_contact_email|bootstrap}}

                <hr />

                <div class="well">
                    <p><strong>
                        Please read our policies below; you are responsible for
                        knowing and abiding by them.
                    </strong></p>

                    {% include "docs/partials/account-policies.html" %}

                    <p><strong>
                        I have read, understood, and agreed to follow the above
                        policies. In addition, I agree not to hold the University
                        of California, the Associated Students of the University of
                        California, or the Open Computing Facility (OCF)
                        responsible for lost files or other misfortunes which may
                        result from my use of the OCF's facilities.

                        Additionally, I certify that I am eligible for an OCF
                        account according to the
                        <a href="{% url 'doc' 'membership/eligibility' %}">OCF account eligibility policy</a>.
                    </strong></p>
                    {{form.disclaimer_agreement|bootstrap}}
                </div>

                <p>
                    <input class="btn btn-primary" type="submit" value="Request Account" />
                    <a class="btn btn-default" href="{% url 'calnet_logout' %}">Cancel</a>
                </p>
            </form>

        </div>
        <div class="col-md-4">
            <hr/>
            <hr class="visible-sm" />
            <div class="welcome-penguin">
                <h2>Welcome to the OCF!</h2>
                <p><img src="{% static 'img/penguin.svg' %}" width="100" height="132" /></p>
                <h4>OCF &hearts; Python, Linux, Open Source</h4>
                <p>
                    The OCF is provided for students, by students. Sound interesting?
                    <br />
                    <a href="{% url 'about-staff' %}">Learn about getting involved!</a>
                </p>
            </div>

            <hr class="visible-sm" />

            {% include "account/partials/password-requirements-sidebar.html" %}

        </div>
    </div>
{% endblock %}
{% block inline_js %}
        <script src="/static/js/pages/account/quick_username_validation.js"></script>
        <script src="/static/js/pages/account/recommend_username.js"></script>
{% endblock inline_js %}
