<p>Didn't find any accounts associated with your CalNet login.</p>
<p>
    If you have an individual account and it isn't showing up here, please
    <a href="{% url 'doc' 'contact' %}">contact us</a> and mention that your
    CalNet UID is <tt>{{calnet_uid}}</tt>.
</p>
<p>
    If you are trying to reset the password for a group account, make
    sure you are a signatory on CalLink. If your group is not a
    Registered Student Organization, then you must
    <a href="{% url 'doc' 'services/account' %}#in-person-reset">get a password reset in person</a>.
</p>
