<p>Users must respect the rights of other users, respect the integrity of the systems and related physical resources, and observe all relevant laws, regulations, and contractual obligations.</p>
<p>Students and employees may have rights of access to information about themselves contained in computer files, as specified in federal and state laws. Files may be subject to search under court order. In addition, system administrators may access user files as required to protect the integrity of computer systems. For example, system administrators may access or examine files or account that are suspected of unauthorized use of misuse, or that have been corrupted or damaged.</p>
<p>All existing laws (federal and state) and University regulations and policies apply, including not only those laws and regulations that are specific to computers and networks, but also those that may apply generally to personal conduct.</p>
<p>Misuse of computer, networking, or information resources may result in the loss of computing privileges. Additionally, misuse can be prosecuted under applicable statutes. Users may be held accountable for their conduct under any applicable University or campus policies, procedures, or collective bargaining agreements. Illegal reproduction of software protected by U.S. Copyright Law is subject to civil damages and criminal penalties including fines and imprisonment.</p>
<p><strong>Examples of misuse</strong> include, but are not limited to, the activities in the following list:
    <ol>
        <li>Using a computer account that you are not authorized to use. Obtaining a password for a computer account without the consent of the account owner, or sharing your own account.</li>
        <li>Using the Campus Network to gain unauthorized access to any computer systems.</li>
        <li>Knowingly performing an act which will interfere with the normal operation of computers, terminals, peripherals, or networks.</li>
        <li>Knowingly running or installing on any computer system or network, or giving to another user, a program intended to damage or to place excessive load on a computer system or network. This includes but is not limited to programs known as computer viruses, Trojan horses, and worms.</li>
        <li>Attempting to circumvent data protection schemes or uncovering security loopholes.</li>
        <li>Violating terms of applicable software licensing agreements or copyright laws.</li>
        <li>Using electronic mail or communication to harass other users.</li>
        <li>Posting materials on electronic bulletin boards that violate existing laws or the University's codes of conduct.</li>
        <li>Attempting to monitor or tamper with another user's electronic communications, or reading, copying, changing, or deleting another user's files or software without the explicit agreement of the owner.</li>
        <li>Using OCF or University equipment or resources for commercial purposes unless specifically authorized.</li>
    </ol>
</p>
