{% extends 'base.html' %}
{% load static %}

{% block hero %}{% endblock %}
{% block container %}
    <div class="container ocf-lab-content">
        <div class="row lab-intro">
            <h3>Fill out the lab feedback survey!</h3>
            <h2>This process takes less than 10 minutes!</h2>
	    <br>
	    <br>
	    <p class="learnmore">
	    	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8Y9TuS5oRhmRbn6vQe4mWdT4LVdu_c3G8wxcvMFuSJRyU0w/viewform?embedded=true" width="640" height="2220" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </p>
	</div>
    </div>
{% endblock %}
