{% extends 'base.html' %}
{% load static %}

{% block hero %}{% endblock %}
{% block container %}
    <div class="container ocf-lab-content">
        <div class="row lab-intro">
            <h3>Please fill out this survey about technology access at UC Berkeley!</h3>
            <h4 style="text-align: center;">This anonymous survey takes less than 10 minutes and you can receive 50 pages of printing credit for filling it out!</h2>
            <br>
            <br>
            <p class="learnmore">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeVm6LGXH6H6pTY3z296_hFxfdYfrscZb-U48jzg55ouKWdUQ/viewform?embedded=true"
                    width="640" height="2220" frameborder="0" marginheight="0" marginwidth="0"
                >
                    Loading...
                </iframe>
            </p>
        </div>
    </div>
{% endblock %}
