{% extends 'base.html' %}
{% load static %}

{% block hero %}{% endblock %}
{% block container %}
    <div class="container ocf-lab-content">
        <div class="row lab-intro">
            <h3>Did you know?</h3>
            <h2>This computer lab is open-source and student-run.</h2>
            {% include 'partials/open-source-pics.html' %}
            <p class="intro">The Open Computing Facility is the largest student group on campus.</p>
            <p class="intro">
                Our volunteer staff team develops, maintains, and provides
                support for services that benefit the Berkeley community.
            </p>
            <p class="learnmore">
            <a href="{% url 'about-staff' %}" class="btn btn-large">Learn about getting involved &raquo;</a>
            </p>
        </div>
    </div>
{% endblock %}
