{% extends 'base.html' %}
{% load staticfiles %}

{% block hero %}{% endblock %}
{% block container %}
    <div class="ocf-hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 ocf-penguin-holder hidden-xs">
                    <img src="{% static 'img/penguin.svg' %}" width="100%" />
                </div>
                <div class="col-sm-10">
                    <img style="float: left; margin-right: 20px; margin-bottom: 10px;" class="visible-xs" src="{% static 'img/penguin.svg' %}" width="90" />
                    <h1>What is the Open Computing Facility?</h1>
                    <p>We're a student organization dedicated to providing free computing for all UC Berkeley students, faculty, and staff.</p>
                    <p>We run a <a href="{% url 'doc' 'services/lab' %}">convenient computer lab</a> on southside, have an <a href="{% url 'doc' 'staff/backend/servers' %}">overpowered set of servers</a> for staff to play on, and provide <a href="{% url 'doc' 'services' %}">widely used services</a> to the Berkeley community.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ocf-meeting">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Join us at our weekly meetings!</h2>
                    <p>
                        We meet every week to talk tech and make decisions.
                        During the first meeting, we'll spend time talking about
                        what the OCF is and why it's awesome.
                    </p>
                    <p>
                        <strong style="font-size: 18px;">Sound interesting?</strong><br />
                        Drop by and say hello, or <a href="{% url 'doc' 'contact' %}">get in touch</a>!
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="ocf-button-holder">
                        <h2>OCF Staff Meetings</h2>
                        <p>OCF Staff meet to discuss technology, learn from each other, and work on OCF projects.</p>
                        <p>Drop-in visitors are always welcome, especially those interested in joining the staff team!</p>
                        <p><strong>When:</strong> Every Monday at 8:10pm</p>
                        <p><strong>Where:</strong> <a href="{% url 'doc' 'services/lab' %}">OCF Computer lab (171 MLK)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ocf-services">
        <div class="container">
            <div class="row">
                <h2>OCF staff help provide cool services to the Berkeley community.</h2>
            </div>
            <div class="row">
                <div>
                    <div class="col-sm-4">
                        <p><img src="{% static 'img/about/web.png' %}" alt="web hosting" /></p>
                        <h3>Web &amp; Email Hosting</h3>
                        <p>We provide free web and email hosting to more than 50,000 OCF members, including both students and student groups.</p>
                    </div>
                    <div class="col-sm-4">
                        <p><img src="{% static 'img/about/ssh.png' %}" alt="shell access" /></p>
                        <h3>UNIX Shell Accounts</h3>
                        <p>All members get their own shell account on our powerful Debian-based servers.<br />(Staff get their own private VMs!)</p>
                    </div>
                    <div class="col-sm-4">
                        <p><img src="{% static 'img/about/lab.png' %}" alt="computer lab" /></p>
                        <h3>Computer Lab &amp; Printing</h3>
                        <p>Our computer lab has free printing, scanners, mechanical keyboards, and blazing fast computers running Linux!</p>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ocf-lab">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="{% static 'img/about/server-lab.png' %}" alt="servers and lab" />
                </div>
                <div class="col-md-5">
                    <h2>We have a hi-tech computer lab on southside.</h2>
                    <h3><a href="{% url 'register' %}">Create an account</a> and drop by!</h3>
                    <p>Our computer lab, located in <a href="{% url 'doc' 'services/lab' %}">171 MLK Student Union</a>, features high-res scanners, free printing, and high-end desktops with mechanical keyboards and GTX graphics cards, all running Debian GNU/Linux.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ocf-logos">
        <div class="container">
            <div class="row">
                <h2>Our lab and servers run free and open-source software, such as:</h2>
                {% include 'partials/open-source-pics.html' %}
            </div>
        </div>
    </div>

    <div class="ocf-please">
        <div class="container">
            <div class="row">
                <h2>Joining the OCF is an informative way to learn!</h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>We love talking tech and learning new things.</h3>
                    <p>We use our weekly board meetings and staff hours not just to make decisions, but also to learn more about *nix and free software.</p>
                </div>

                <div class="col-md-4">
                    <h3>We're totally open and super-inclusive!</h3>
                    <p>Our members have a <em>wide</em> range of majors and technical backgrounds. There are tons of ways to learn and have fun!</p>
                </div>

                <div class="col-md-4">
                    <h3>We've got a perfect sandbox to poke around.</h3>
                    <p>In addition to our powerful servers and desktops, staff get access to their own private server to hoze.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ocf-first">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>We meet every Monday at 8:10pm <a href="{% url 'doc' 'services/lab' %}">in the lab</a>.</h2>
                    <h3>We hope to see you there!</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer-top %}{% endblock %}
