Source: ocfweb
Section: python
Priority: extra
Maintainer: Open Computing Facility <help@ocf.berkeley.edu>
Build-Depends: debhelper (>= 9), python3, python3-dev, dh-virtualenv (>= 0.8), dh-systemd (>= 1.5), git, pkg-config, libfreetype6-dev, libpng12-dev, libxslt1-dev, libcrack2-dev
Standards-Version: 3.9.6

Package: ocfweb
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}, virtualenv |
  python-virtualenv, pwgen, systemd-sysv
Description: OCF website (service, virtualenv, and static files)
