[Unit]
Description=OCF website background process

[Service]
User=ocfweb
ExecStart=/usr/share/python/ocfweb/bin/ocfweb-run-periodic-functions
Restart=always
Environment=MATPLOTLIBRC=/etc/ocfweb

[Install]
WantedBy=multi-user.target
