#!/usr/bin/make -f
%:
	dh $@ --with python-virtualenv --with systemd

override_dh_virtualenv:
	dh_virtualenv --python=/usr/bin/python3

override_dh_fixperms:
	dh_fixperms
	chmod 400 debian/ocf-atool/etc/ocf-atool/ocf-atool.conf
