{% extends 'base.html' %}
{% load staff_hours %}
{% load google_maps %}
{% load lab_hours %}

{% block hero %}
<div class="ocf-penguin-swing"></div>

<div class="ocf-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Welcome to the Open Computing Facility!</h1>
                <p>The Open Computing Facility (OCF) is an all-volunteer student organization dedicated to free computing for all University of California, Berkeley students, faculty, and staff.</p>
                <p class="ocf-button-holder">
                    <a href="https://hello.ocf.berkeley.edu/" class="btn btn-lg">Learn what we do</a>
                    <a href="https://accounts.ocf.berkeley.edu/request-account" class="btn btn-lg">Create an account</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 ocf-content-block">
        <p>
            The Open Computing Facility is an all-volunteer student
            organization located at the University of California, Berkeley.
            We're passionate about open source and free software.
        </p>
        <p>Our volunteers maintain services for the Berkeley community. Among others, we offer:</p>
        <ul>
            <li><a href="{% url 'doc' 'services/lab' %}">A spiffy computer lab</a> in 6A Hearst Gym</li>
            <li><a href="{% url 'doc' 'services/lab/printing' %}">Free printing</a> for all UC Berkeley students</li>
            <li><a href="{% url 'doc' 'services/shell' %}">Shell accounts</a> on our powerful on-campus servers</li>
            <li>...and <a href="{% url 'doc' 'services' %}">lots more!</a></li>
        </ul>
        <p>We hold <a href="{% url 'staff-hours' %}">weekly staff hours</a> to provide assistance with account issues or with OCF services. Drop by to ask questions or just to hang out!</p>
    </div>

    <div class="col-sm-4 ocf-sidebar">
        <h3>OCF Lab Hours</h3>
        <div class="row ocf-hours">
            {% for hours in hours_columns %}
                <div class="col-lg-6">
                    <table>
                        {% for hour in hours %}
                            <tr>
                                <th>{{hour.name}}:</th>
                                <td>
                                    {{hour|lab_hours_time}}
                                    {% if hour.holiday %}
                                        <br />
                                        <em>{{hour.holiday}}</em>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
        <p><a href="{% url 'doc' 'services/lab' %}">See more lab hours &raquo;</a></p>

        <p>{% google_map '100%' '250px' %}</p>

        <div class="ocf-staffhours">
            {% for staff_hour in staff_hours %}
                <h3>Staff Hours {{staff_hour.day}}</h3>
                <div class="{% if staff_hour.cancelled %} cancelled {% endif %}">
                    <p>
                        {{staff_hour.time}}
                        {% if staff_hour.cancelled %}
                            <span class="cancelled-text">cancelled this week</span>
                        {% endif %}
                    </p>
                    <ul class="ocf-staffhours-faces">
                        {% for staffer in staff_hour.staff %}
                            <li><img alt="{{staffer.user_name}}" src="{{staffer|gravatar:77}}" /></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            <p><a href="{% url 'staff-hours' %}">See more staff hours &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}
