{% extends 'base.html' %}
{% load google_maps %}

{% block content %}
<div class="row">
    <div class="col-sm-8 ocf-content-block">
        <p>something</p>

        <p><a href="https://www.ocf.berkeley.edu/staff_hours/">See more staff hours &raquo;</a></p>
    </div>

    <div class="col-sm-4 ocf-sidebar">
        <h4>Open Computing Facility Lab</h4>
        <p>{% google_map '100%' '250px' %}</p>
        <p><strong>The OCF lab is located on the ground level of Hearst Gym (west entrance), Room 6A.</strong></p>
        <p>You will need to show your student ID when you pass the Publications Center in Room 6.</p>
        <p>All staff hours are held in the lab&mdash;feel free to drop by!</p>
    </div>
</div>
{% endblock %}
