{% extends 'base.html' %}
{% load google_maps %}
{% load staticfiles %}

{% block hero %}{% endblock %}
{% block container %}
    <div class="moving-container">
        <div class="row">
            <div class="col">
                <div class="moving-header">
                    <h2>The OCF is moving!</h2>
                    <p>
                        On Thursday, November 12th, we're moving out of our trusty old
                        space in Hearst Gym to a brand new space in the MLK Student Union.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col">
                <div class="moving-box timeline">
                    <h3>Move Timeline</h3>
                    <hr />

                    <h4>Thursday, Nov. 12</h4>
                    <p>Close early at 6pm; we'll start moving right away</p>

                    <h4>Friday, Nov. 13&ndash;Sunday, Nov. 15</h4>
                    <p>Closed all day while we move</p>

                    <h4>Monday, Nov. 16</h4>
                    <p>Reopen in the new space (hopefully!)</p>

                    <hr />
                    <p>
                        After the move, we'll resume our
                        <a href="{% url 'doc' 'services/lab' %}">regular hours</a>.
                    </p>
                </div>
            </div>
            <div class="col-sm-8 col">
                <div class="moving-box">
                    <h3>The New Location</h3>
                    <hr />
                    <p>
                        We're moving into <strong>171 MLK Student Union</strong>,
                        located directly off Sproul Plaza.
                    </p>
                    {% google_map '100%' '300px' show_info=True %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
