{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="ocf-content-block">
  <p>At the OCF, there are three physical servers whose job is to host virtual servers. These physical servers are hypervisors running QEMU and KVM. The servers which people see on a daily basis, like the login server, the web server, the print server, and things like that are all virtual machines hosted on these hypervisors.</p>
  <p>Below is a (non-exhaustive) list of servers and other computers at the OCF.  VMs are grouped under the hypervisor hosting them.  </p>
</div>

<div id="serverlist" style="padding: 0% 5%">
    <div class="hypervisor">
        <div class="hypervisor-host">
            <span class="hostname">hal</span>
            <span class="ip">169.229.10.10</span><br>
            <span class="desc">KVM hypervisor</span>
        </div>
        <div class="hypervisor-guests">
            <div class="hypervisor-guest">
                <span class="hostname">mudslide</span>
                <span class="ip">169.229.10.202</span><br>
                <span class="desc">Iodine, Mon, Mosh, Mumble</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">zombies</span>
                <span class="ip">169.229.10.44</span><br>
                <span class="desc">CSGO server</span>
            </div>
        </div>
    </div>
    <div class="hypervisor">
        <div class="hypervisor-host">
            <span class="hostname">jaws</span>
            <span class="ip">169.229.10.12</span><br>
            <span class="desc">KVM hypervisor</span>
        </div>
        <div class="hypervisor-guests">
            <div class="hypervisor-guest">
                <span class="hostname">anthrax</span>
                <span class="ip">169.229.10.35</span><br>
                <span class="desc">Postfix (OCF staff mail)</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">biohazard</span>
                <span class="ip">169.229.10.34</span><br>
                <span class="desc">Apphosting</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">blight</span>
                <span class="ip">169.229.10.26</span><br>
                <span class="desc">ikiwiki</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">death</span>
                <span class="ip">169.229.10.23</span><br>
                <span class="desc">Apache web server</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">earthquake</span>
                <span class="ip">169.229.10.41</span><br>
                <span class="desc">account-tools</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">firestorm</span>
                <span class="ip">169.229.10.20</span><br>
                <span class="desc">LDAP, Kerberos</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">flood</span>
                <span class="ip">169.229.10.31</span><br>
                <span class="desc">IRC, Jabber</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">lightning</span>
                <span class="ip">169.229.10.21</span><br>
                <span class="desc">Puppet</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">maelstrom</span>
                <span class="ip">169.229.10.27</span><br>
                <span class="desc">MySQL</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">pestilence</span>
                <span class="ip">169.229.10.22</span><br>
                <span class="desc">DNS, DHCP</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">pollution</span>
                <span class="ip">169.229.10.29</span><br>
                <span class="desc">CUPS</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">reaper</span>
                <span class="ip">169.229.10.48</span><br>
                <span class="desc">Jenkins</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">sandstorm</span>
                <span class="ip">169.229.10.24</span><br>
                <span class="desc">Postfix (group email)</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">supernova</span>
                <span class="ip">169.229.10.36</span><br>
                <span class="desc">Staff login</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">tsunami</span>
                <span class="ip">169.229.10.25</span><br>
                <span class="desc">SSH login</span>
            </div>
            <div class="hypervisor-guest">
                <span class="hostname">typhoon</span>
                <span class="ip">169.229.10.28</span><br>
                <span class="desc">Request Tracker</span>
            </div>
        </div>
    </div>
    <div class="hypervisor">
        <div class="hypervisor-host">
            <span class="hostname">pandemic</span>
            <span class="ip">169.229.10.14</span><br>
            <span class="desc">NFS, KVM hypervisor</span>
        </div>
        <div class="hypervisor-guests">
            <div class="hypervisor-guest">
                <span class="hostname">dementors</span>
                <span class="ip">169.229.10.33</span><br>
                <span class="desc">Munin, Lab stats (as stats.ocf)</span>
            </div>
        </div>
    </div>
    <div class="physical-server">
        <span class="hostname">fallingrocks</span>
        <span class="ip">169.229.10.30</span><br>
        <span class="desc">Debian and Ubuntu mirror</span>
    </div>
    <div class="desktop">
        <span class="hostname">avalanche</span>
        <span class="ip">169.229.10.101</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">bigbang</span>
        <span class="ip">169.229.10.102</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">blizzard</span>
        <span class="ip">169.229.10.103</span><br>
        <span class="desc">ASUC Publications staff computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">cyclone</span>
        <span class="ip">169.229.10.104</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">destruction</span>
        <span class="ip">169.229.10.105</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">eruption</span>
        <span class="ip">169.229.10.100</span><br>
        <span class="desc">Staff computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">famine</span>
        <span class="ip">169.229.10.110</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">hailstorm</span>
        <span class="ip">169.229.10.111</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">headcrash</span>
        <span class="ip">169.229.10.112</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">heatwave</span>
        <span class="ip">169.229.10.113</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">hurricane</span>
        <span class="ip">169.229.10.106</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">madcow</span>
        <span class="ip">169.229.10.107</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">outbreak</span>
        <span class="ip">169.229.10.108</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="desktop">
        <span class="hostname">volcano</span>
        <span class="ip">169.229.10.109</span><br>
        <span class="desc">Lab computer</span>
    </div>
    <div class="printer-etc">
        <span class="hostname">deforestation</span>
        <span class="ip">169.229.10.91</span><br>
        <span class="desc">Lab printer</span>
    </div>
    <div class="printer-etc">
        <span class="hostname">logjam</span>
        <span class="ip">169.229.10.92</span><br>
        <span class="desc">Lab printer</span>
    </div>
</div>
{% endblock %}

{% block inline_js %}
    <script>
        $(document).ready(function() {
            $('.hypervisor-host').click(function() {
                $(this).parent().children('.hypervisor-guests').slideToggle();
                $(this).toggleClass('expanded');
            });
        });
    </script>
{% endblock %}
