{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    {% if error %}
        <ul class="errorlist">
            <li>{{error}}</li>
        </ul>
    {% endif %}

    <form method="post" action="{% url 'change_password' %}" id="change-password-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change Password" />
    </form>

    <p>Click <a href="{% url 'calnet_logout' %}">here</a> to log out of CalNet.</p>
    <p style="font-size: 10px; color: #aaa;">Your CalNet UID is {{calnet_uid}}.</p>
{% endblock %}
