{% extends 'base.html' %}
{% load google_maps %}
{% load humanize %}
{% load lab_hours %}
{% load staff_hours %}

{% block hero %}
<!-- <div class="ocf-penguin-swing"></div> -->

<div class="ocf-hero">
    <div class="container">
        <!-- <div class="row">
            <div class="col-sm-8">
                <h1>Welcome to the Open Computing Facility!</h1>
                <p>The Open Computing Facility (OCF) is an all-volunteer student organization dedicated to free computing for all University of California, Berkeley students, faculty, and staff.</p>
            </div>
            <div class="col-sm-8">
              <h1>TODO: User Log In </h1>
              <p>
                <a href="{% url 'change_password' %}">Forgot your password?</a>
                <a href="{% url 'register' %}" class="btn btn-lg">Create an account</a>
              </p>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-6">
                <h1>Welcome to the Open Computing Facility!</h1>
                <p>The Open Computing Facility (OCF) is an all-volunteer student organization dedicated to free computing for all University of California, Berkeley students, faculty, and staff.</p>
                <!-- <h4>Interested in free &amp; open-source software?</h4>
                <p>Our volunteer staff team helps create and mantain the OCF services you use.</p>
                <p>We're always on the lookout for new members interested in
                learning more about technology and open source!</p>
                <p><a href="{% url 'about-staff' %}">Learn more about getting involved!</a></p> -->
            </div>
            <div class="col-sm-6">
                <h1>  </h1>
                <p>Sign Up
                  template: https://berkeley.joinhandshake.com/login
                  <a href="{% url 'change_password' %}">Forgot your password?</a><br>
                  <a href="{% url 'register' %}" class="btn btn-lg">Forgot your username?</a>
<!--
                  <a class="sso-button" title="test" id="sso-button" data-bind="click: track_sso_click"
                  href="<a class="sso-button" title="For current students only: Alumni Advantage and VSPA Affiliates use email address above" id="sso-button" data-bind="click: track_sso_click" href="https://auth.berkeley.edu/cas/login?service=https%3A%2F%2Fberkeley.joinhandshake.com%2Flogin%3Fschool_id%3D84"><div class="sso-content">
<img alt="" src="https://s3.amazonaws.com/handshake.production/app/public/assets/schools/84/small/hs-school-logo-data.?1482461526">
<div class="sso-name" id="sso-name">Login with your UC Berkeley student CalNet</div>
</div>
<i class="fa fa-chevron-right"></i>
</a>" -->
                </p>
                <!-- <h4>News from the staff team</h4>

                {% for announcement in announcements %}
                    <p>
                        <a href="{{announcement.link}}">{{announcement.title}}</a><br />
                        {{announcement.datetime | naturaltime}}
                    </p>
                {% endfor %}
                <p><a href="{% url 'announcements' %}">More updates from the OCF &raquo;</a></p> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 ocf-content-block">

        {{lab_status.banner_html | safe}}

        <div class="row">
            <div class="col-sm-6">
              <h3>Lab Hours</h3>
              <!-- <p><strong>Lab Hours</strong></p> -->
              <div class="ocf-hours">
                  {% for hour in hours %}
                      <div class="ocf-hour row {% cycle 'odd' 'even' %}">
                          <div class="col-sm-5 col-md-3 ocf-hour-title">
                              {{hour.weekday}}<br />
                          </div>
                          <div class="col-sm-7 col-md-9 ocf-hour-hours">
                              {% if hour == today and lab_status.force_lab_closed %}
                                  Temporarily Closed
                              {% else %}
                                  {{hour.hours | lab_hours_time}}
                                  {% if hour.holiday %}
                                      ({{hour.holiday}})
                                  {% endif %}
                              {% endif %}
                          </div>
                      </div>
                  {% endfor %}
              </div>
              <p><a href="{% url 'doc' 'services/lab' %}" class="see-more">See more lab hours &raquo;</a></p>
            </div>
            <h3>Location</h3>
            <p>
                The lab is located in
                <a href="{% url 'doc' 'services/lab' %}">171 MLK Student Union</a>.
            </p>
            {% google_map '100%' '151px' show_info=False %}
        </div>
    </div>
</div>
{% endblock %}
