{% extends 'base.html' %}
{% load staff_hours %}
{% load google_maps %}

{% block content %}
<div class="row">
    <div class="col-sm-8 ocf-content-block">
        <h2>Have questions? Drop by for help from a friendly volunteer staffer!</h2>
        <p>OCF staff members hold regular drop-in staff hours to provide assistance with account issues or with OCF services. We're always happy to help troubleshoot account or service issues!</p>
        <p>Keep in mind the OCF volunteers sometimes have last-minute conflicts, so it's a good idea to check this page for cancellations before coming in to the lab.</p>
        {% for staff_hour in staff_hours %}
            <div class="hour {% if staff_hour.cancelled or staff_hour.day == today and lab_status.force_lab_closed %} cancelled {% endif %}">
                <div class="title">
                    <strong>{{staff_hour.day}}</strong>
                    {{staff_hour.time}}
                    {% if staff_hour.cancelled or staff_hour.day == today and lab_status.force_lab_closed %}
                        <span class="cancelled-text">cancelled this week</span>
                    {% endif %}
                </div>
                <div class="content">
                    <ul class="ocf-staffhours-faces">
                        {% for staffer in staff_hour.staff %}
                            <li>
                                <img alt="{{staffer.user_name}}" src="{{staffer|gravatar:100}}" />
                                <h4>{{staffer.real_name}}</h4>
                                <h5>{{staffer.position}}</h5>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-4 ocf-sidebar">
        <h4>Open Computing Facility Lab</h4>
        <p>{% google_map '100%' '250px' %}</p>
        <p><strong>The OCF lab is located on the ground level of MLK Student Union (entrance on Lower Sproul), Room 171.</strong></p>
        <p>You will need to show your student ID when you pass the front desk at the entrance.</p>
        <p>All staff hours are held in the lab&mdash;feel free to drop by!</p>

        <h4>Need help now?</h4>
        <p>If it really can't wait, you can also <a href="{% url 'doc' 'contact' %}">send us an email</a>.</p>
        <p>(It'd be cool if you tried to come in, though&mdash;we're students too!)</p>
    </div>
</div>
{% endblock %}
