@import '../../ocf';

.page-doc-services-shell-commands {
    .shell-wrapper {
        padding: 16px;

        iframe {
            width: 100%;
            height: 200px;

            @media (min-width: $screen-sm-min) {
                height: 300px;
            }

            @media (min-width: $screen-md-min) {
                height: 400px;
            }
        }
    }
}
