{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-md-8 ocf-content-block">
            <h3>Print remotely</h3>
            <p>
                Please select a PDF file you would like to print and whether you would like to print single or double sided.

                Once you press submit, a QR code will displayed that you should bring to the OCF computer lab.
            </p>

            <form action="{% url 'print' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form | bootstrap}}
                <input class="btn btn-primary" type="submit" value="Submit print to queue" />
            </form>
        </div>
    </div>
{% endblock %}
