{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% if "AD" in backend_failures or "KRB" in backend_failures %}
<ul class="errorlist">
    {% if "AD" in backend_failures %}
    <li>There was an error changing your Windows Active Directory password.</li>
    {% endif %}
    {% if "KRB" in backend_failures %}
    <li>There was an error changing your Linux Kerberos password.</li>
    {% endif %}
</ul>
{% endif %}

<form method="post" action="{{ form_action }}" id="change-password-form">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Change Password" />
</form>
{% endblock %}
