{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
You've successfully changed the password of the account: <emph>{{ user_account }}</emph><br />
Please <a href="https://secure.ocf.berkeley.edu/account_tools/calnet/logout" id="calnet_logout">logout</a>.<br />
You should be automatically logged out in 5 seconds.

<script type="text/javascript">
    function redirect_to_calnet_logout(){
        calnet_logout_url = document.getElementById("calnet_logout");
        window.location = calnet_logout_url;
    }
    window.setTimeout("redirect_to_calnet_logout()", 5000);
</script>
{% endblock %}
