{% extends "base.html" %}

{% block content %}
    <div class="ocf-content-block">
        <p><strong>Please wait, your account is being created.</strong></p>
        <p>Current Status:</p>
        <ul>
            {% for line in status %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
        <p><em>This page should automatically refresh.</em></p>
    </div>
{% endblock %}

<!-- TODO: AJAX this and make it pretty -->
{% block inline_js %}
    <script>
        $(document).ready(function() {
            window.setTimeout(function() {
                window.location.reload();
            }, 1000);
        });
    </script>
{% endblock %}
