{% extends "layouts/base.html" %}

{% block title %}Request Individual Account{% endblock %}

{% block content %}
<h2>Request an OCF Account</h2>

<style>
.welcome-banner {
}

.welcome-banner > a {
    display: block;
    padding: 10px 30px;
    margin-bottom: 15px;
    background-color: #ffffcc;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.welcome-banner > a:hover {
    background-color: #FFFFDF !important;
}

.welcome-banner h1 {
    margin: 0;
    padding: 0;
    color: #111 !important;
    font-size: 32px !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
}

.welcome-banner > a > p {
    color: #333 !important;
    font-size: 14px !important;
    line-height: 1.2em;
    margin-bottom: 15px !important;
}

.welcome-banner *:hover, .welcome-banner:hover * {
    text-decoration: none;
}
</style>
<h2>Welcome to the OCF</h2>

{{ form.non_field_errors }}

<p>This form is <strong><strong>ONLY</strong></strong> for requesting individual accounts. If you want to request an account for a student group, please visit a staff member in the OCF lab during <a href="http://www.ocf.berkeley.edu/staff_hours">staff hours</a>.</p>

<hr />

<form method="post" action="{% url 'request_account' %}" id="request-account-form">{% csrf_token %}

    <label for="fullname">Full Name:</label>
    <div id="fullname" style="font-weight: bold">{{ real_name }}</div><br />
    <hr />

    <div class="fieldWrapper">
        <p>Your account name must consist of between three and eight lowercase letters (no spaces, numbers, underscores, or other symbols), and it <strong><strong>MUST</strong> be based on your real name or initials.</strong></p>
        {{ form.ocf_login_name.errors }}
        <label for="id_ocf_login_name">Login Name:</label>
        {{ form.ocf_login_name }}<br /><br />
    </div>
    <hr />

    <div class="fieldWrapper">
        <p>Your password <strong><strong>MUST</strong></strong> be at least eight characters long, and it may contain upper and lowercase letters, numbers, or other symbols. However, your password may not be a word in any language. Good passwords are usually a combination of upper and lowercase letters and numbers. Do not share this password with anyone, even OCF staff.</p>
        {{ form.password.errors }}
        <label for="id_password">Password:</label>
        {{ form.password }}<br /><br />

        {{ form.verify_password.errors }}
        <label for="id_verify_password">Verify Password:</label>
        {{ form.verify_password }}<br /><br />
    </div>
    <hr />

    <div field="fieldWrapper">
        <p>It will take a few days before your account is created in our system. Please enter your e-mail address below so the OCF can contact you when your account has been created.</p>
        {{ form.contact_email.errors }}
        <label for="id_contact_email">Contact E-mail:</label>
        {{ form.contact_email }}<br /><br />

        {{ form.verify_contact_email.errors }}
        <label for="id_verify_contact_email">Confirm Contact E-mail:</label>
        {{ form.verify_contact_email }}<br /><br />
    </div>

    <hr />

<fieldset>
    <legend>Read our disclaimer. You are responsible for knowing and following our policies.</legend>
    <div id="create-disclaimer">
        <p>Users must respect the rights of other users, respect the integrity of the systems and related physical resources, and observe all relevant laws, regulations, and contractual obligations.</p>
        <p>Students and employees may have rights of access to information about themselves contained in computer files, as specified in federal and state laws. Files may be subject to search under court order. In addition, system administrators may access user files as required to protect the integrity of computer systems. For example, system administrators may access or examine files or account that are suspected of unauthorized use of misuse, or that have been corrupted or damaged.</p>
        <p>All existing laws (federal and state) and University regulations and policies apply, including not only those laws and regulations that are specific to computers and networks, but also those that may apply generally to personal conduct.</p>
        <p>Misuse of computer, networking, or information resources may result in the loss of computing privileges. Additionally, misuse can be prosecuted under applicable statutes. Users may be held accountable for their conduct under any applicable University or campus policies, procedures, or collective bargaining agreements. Illegal reproduction of software protected by U.S. Copyright Law is subject to civil damages and criminal penalties including fines and imprisonment.</p>
        <p><strong>Examples of misuse</strong> include, but are not limited to, the activities in the following list:
            <ol>
                <li>Using a computer account that you are not authorized to use. Obtaining a password for a computer account without the consent of the account owner, or sharing your own account.</li>
                <li>Using the Campus Network to gain unauthorized access to any computer systems.</li>
                <li>Knowingly performing an act which will interfere with the normal operation of computers, terminals, peripherals, or networks.</li>
                <li>Knowingly running or installing on any computer system or network, or giving to another user, a program intended to damage or to place excessive load on a computer system or network. This includes but is not limited to programs known as computer viruses, Trojan horses, and worms.</li>
                <li>Attempting to circumvent data protection schemes or uncovering security loopholes.</li>
                <li>Violating terms of applicable software licensing agreements or copyright laws.</li>
                <li>Using electronic mail or communication to harass other users.</li>
                <li>Posting materials on electronic bulletin boards that violate existing laws or the University's codes of conduct.</li>
                <li>Attempting to monitor or tamper with another user's electronic communications, or reading, copying, changing, or deleting another user's files or software without the explicit agreement of the owner.</li>
                <li>Using OCF or University equipment or resources for commercial purposes unless specifically authorized.</li>
            </ol>
        </p>
    </div>

    <div class="fieldWrapper">
        {{ form.disclaimer_agreement.errors }}
        <label for="id_disclaimer_agreement">I have read, understood, and agreed to follow the above policies. In addition, I agree not to hold the University of California, the Associated Students of the University of California, or the Open Computing Facility (OCF) responsible for lost files or other misfortunes which may result from my use of the OCF's facilities. Additionally, I certify that I am eligible for an OCF account according to the <a href="http://wiki.ocf.berkeley.edu/membership/eligibility/">OCF account eligibility policy</a>.</label>
        {{ form.disclaimer_agreement }}
        <p><strong><strong>Check this box</strong></strong> to confirm that you have read, understood, and agreed to these policies.</p>
    </div>
</fieldset>
<br /><br />

<input type="submit" value="Request Account" id="request-account-form-submit" />
</form>

<div class="welcome-banner" style="margin-top: 20px;">
    <a href="http://hello.ocf.berkeley.edu/">
        <p>OCF &hearts; GNU/Linux, Python, Ruby, Puppet, <br />Free &amp; Open-Source Software</p>
        <p>
            Does this sound like you?</br>
            Learn about joining our staff team!
        </p>
    </a>
</div>

<p>Click <a href="{% url 'calnet_logout' %}">here</a> to log out of CalNet.</p>
{% endblock %}
