{% extends 'base.html' %}
{% load common %}
{% load stats %}

{% block content %}
    <div class="ocf-content-block">
        {% stats_navbar %}
        <div id="chart"></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>Printer</th>
                        <th>Trees killed over lifetime*</th>
                    </tr>
                    {% for dict in data %}
                        <tr>
                            <td>{{ dict.name }}</td>
                            <!-- hack to divide the lifetime pages printed by 8333 pages/tree -->
                            <td>{% widthratio dict.data|getitem:-1|getitem:1 8333  1 %}</td>
                        </tr>
                    {% endfor %}
                </table>
                <small>*Assuming each tree yields ~8333 pages.</small>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline_js %}
    <script src="https://code.highcharts.com/5.0.7/highcharts.js"></script>
    <script>
        $(document).ready(function () {
            // User browser time
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            options = {
                chart: {
                    renderTo: 'chart',
                    defaultSeriesType: 'line',
                    backgroundColor: null,
                    height: document.documentElement.clientHeight,
                    zoomType: 'x'
                },
                xAxis: {
                    type: "datetime"
                },
                yAxis: {
                    title: {
                        text: "Lifetime pages printed"
                    },
                    min: 0
                },
                title: {
                    text: "Printer Historical"
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    line: {
                        step: true
                    }
                },
                series: {{data|json|safe}},
            };
            chart = new Highcharts.Chart(options);
        });
    </script>
{% endblock %}
