{% extends "base.html" %}
{% load common %}
{% load vhost_mail %}
{% load humanize %}

{% block content %}
    <div class="ocf-content-block">
        {% if not vhosts %}
            <h3>You don't currently have mail virtual hosting.</h3>
        {% endif %}
        <p>
            Mail virtual hosting lets you receive mail at a domain like
            <tt>@mygroup.berkeley.edu</tt>. You can create as many
            addresses as you'd like&ndash;for your officers, members,
            committees, and more.
        </p>

        {% if vhosts %}
            {% for vhost in vhosts %}
                <hr />
                <h3>{{vhost.domain}}</h3>
                {% with vhost|forwarding_addresses:c as forwarding_addresses %}
                    <table class="table table-striped">
                        <tr>
                            <th>Email address</th>
                            <th>Forward to</th>
                            <th>Password<small>*</small></th>
                            <th>Last updated</th>
                            <th>&nbsp;</th>
                        </tr>

                        {% if forwarding_addresses %}
                            {% for addr in forwarding_addresses %}
                                <tr>
                                    <td>
                                        <p>
                                            <!-- pardon long line, must avoid spacing -->
                                            {{addr.address|address_to_parts|getitem:0}}<span class="subtle">@{{addr.address|address_to_parts|getitem:1}}</span>
                                        </p>
                                        <small><a role="button">Edit</a></small>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for to in addr.forward_to|sort %}
                                                <li>{{to}}</li>
                                            {% endfor %}
                                        </ul>
                                        <small>
                                            <a role="button" data-forward-to="{{addr.forward_to|sort|json}}" data-addr="{{addr.address}}" class="js-edit-forward-to">Edit</a>
                                        </small>
                                    </td>
                                    <td>
                                        <small><a role="button" data-addr="{{addr.address}}" class="js-change-password">
                                            {% if addr.crypt_password %}
                                                Change
                                            {% else %}
                                                Set
                                            {% endif %}
                                        </a></small>
                                    </td>
                                    <td title="{{addr.last_updated}}">{{addr.last_updated|naturaltime}}</td>
                                    <td>
                                        <small><a role="button" class="js-remove-address" data-addr="{{addr.address}}">
                                            Remove
                                        </a></small>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    <em>You don't have any forwarding addresses defined yet.</em>
                                </td>
                            <tr>
                        {% endif %}
                    </table>

                    <button type="submit" class="btn btn-small btn-default js-add-address" data-domain="{{vhost.domain}}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add address
                    </button>
                {% endwith %}
            {% endfor %}
            <hr />
            <small>
                * Passwords can't be retrieved after being set, but you can always change them again.
            </small>
        {% else %}
            <p>
                Mail virtual hosting is a free service from the friendly
                student volunteers of the Open Computing Facility. Interested
                in signing up?
                <a href="{% url 'doc' 'contact' %}">Get in touch with us!</a>
        {% endif %}

    </div>
{% endblock %}


{% block body_custom %}
    <!-- change password modal -->
    <form method="POST" action="{% url 'vhost_mail_update_password' %}">
        {% include 'partials/modal-0.html' with id="js-modal-change-password" %}
        <h4 class="modal-title">Change Password</h4>
        {% include 'partials/modal-1.html' %}
        <div class="well">
            {% include "account/partials/password-requirements-sidebar.html" with omit_header=True %}
        </div>
        <p>Enter a new password for <strong class="js-email"></strong>:</p>
        <input type="hidden" name="addr" class="js-email" />
        <p>
            <input name="password" type="password" class="form-control" placeholder="Password" />
        </p>
        {% include 'partials/modal-2.html' %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Change password</button>
        {% include 'partials/modal-3.html' %}
        {% csrf_token %}
    </form>

    <!-- remove address modal -->
    <form method="POST" action="{% url 'vhost_mail_remove_address' %}">
        {% include 'partials/modal-0.html' with id="js-modal-remove-address" %}
        <h4 class="modal-title">Remove Address</h4>
        {% include 'partials/modal-1.html' %}
        <p>Are you sure you want to delete <strong class="js-email"></strong>?</p>
        <input type="hidden" name="addr" class="js-email" />
        {% include 'partials/modal-2.html' %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete address</button>
        {% include 'partials/modal-3.html' %}
        {% csrf_token %}
    </form>

    <!-- add address modal -->
    <form method="POST" action="{% url 'vhost_mail_add_address' %}">
        {% include 'partials/modal-0.html' with id="js-modal-add-address" %}
        <h4 class="modal-title">Add Address</h4>
        {% include 'partials/modal-1.html' %}

        <p>Add a new address for <strong class="js-domain"></strong>.</p>
        <hr />

        <div class="form-group">
            <label for="add-modal-addr">
                Incoming address<br />
                <span class="desc">
                    This is the receiving address. Only include the part before
                    the "@" sign.
                </span>
            </label>
            <div class="alert alert-danger js-warn-addr" style="display: none;">
                Don't include an "@" sign or the domain name!
            </div>
            <input type="text" class="form-control" name="name" placeholder="john" id="add-modal-addr" />
        </div>
        <div class="form-group">
            <label>
                Forwarding address<br />
                <span class="desc">
                    These are the addresses to forward incoming mail to. Use a full
                    email address here. You can add as many as you'd like; every
                    incoming email will be forwarded to each.
                </span>
            </label>
            <div class="js-forward-to-addresses"></div>
            <p>
                <button type="button" class="btn btn-small btn-default js-add-another">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Another
                </button>
            </p>
        </div>
        <div class="form-group">
            <label for="add-modal-password">
                Password<br />
                <span class="desc">
                    If you want to send email from this account, you'll need to
                    set a password. If you don't want to send mail, you can
                    leave this blank.
                </span>
            </label>
            <input type="password" class="form-control" name="password" id="add-modal-password" />
        </div>

        {% include 'partials/modal-2.html' %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="hidden" name="forward_to" class="js-forward-to" />
        <input type="hidden" name="domain" class="js-domain" />
        <button type="submit" class="btn btn-primary">Add address</button>
        {% include 'partials/modal-3.html' %}
        {% csrf_token %}
    </form>

    <!-- edit forward to modal -->
    <form method="POST" action="{% url 'vhost_mail_edit_forward_to' %}">
        {% include 'partials/modal-0.html' with id="js-modal-edit-forward-to" %}
        <h4 class="modal-title">Edit Forward To</h4>
        {% include 'partials/modal-1.html' %}

        <p>Modify forwarding addresses for <strong class="js-email"></strong>.</p>
        <hr />
        <div class="form-group">
            <label>
                Forwarding address<br />
                <span class="desc">
                    These are the addresses to forward incoming mail to. Use a full
                    email address here. You can add as many as you'd like; every
                    incoming email will be forwarded to each.
                </span>
            </label>
            <div class="js-forward-to-addresses"></div>
            <p>
                <button type="button" class="btn btn-small btn-default js-add-another">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Another
                </button>
            </p>
        </div>

        {% include 'partials/modal-2.html' %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="hidden" name="forward_to" class="js-forward-to" />
        <input type="hidden" name="addr" class="js-email" />
        <button type="submit" class="btn btn-primary">Save</button>
        {% include 'partials/modal-3.html' %}
        {% csrf_token %}
    </form>
{% endblock %}

{% block inline_js %}
    <script>
        (function() {
            function setTextOrValue(ctrls, val) {
                /**
                 * Set text or value appropriately for each control.
                 */
                ctrls.each(function(i, el) {
                    el = $(el);
                    if (el.is('input'))
                        el.val(val);
                    else
                        el.text(val);
                });
            }

            function addForwardingAddress(addr) {
                var input = $('<input type="email" />');
                input.addClass('form-control');
                input.attr('placeholder', 'john@gmail.com');
                if (addr)
                    input.val(addr);
                var emailCol = $('<div />');
                emailCol.addClass('col-xs-11 forward-to-input-col');
                emailCol.append(input);

                var removeButton = $('<button type="button" />');
                removeButton.addClass('btn btn-small btn-block btn-default');
                removeButton.attr('disabled', 'disabled');
                var removeIcon = $('<span />');
                removeIcon.attr('aria-hidden', 'true');
                removeIcon.addClass('glyphicon glyphicon-minus');
                removeButton.append(removeIcon);
                removeButton.click(function() {
                    if (row.attr('data-hiding') !== 'true') {
                        row.attr('data-hiding', 'true').stop(true).slideUp(200, function() {
                            row.remove();
                        });
                        updateDisabledButtons(this);
                    }
                }.bind(this));
                var removeCol = $('<div />');
                removeCol.addClass('forward-to-remove-col col-xs-1');
                removeCol.append(removeButton);

                var row = $('<div class="row" />');
                row.hide();
                row.append(emailCol);
                row.append(removeCol);
                this.append(row);
                row.slideDown(200);

                updateDisabledButtons(this);
            }

            function updateDisabledButtons(ctrl) {
                if (ctrl.find('.row[data-hiding!="true"]').length > 1)
                    ctrl.find('button').removeAttr('disabled');
                else
                    ctrl.find('button').attr('disabled', 'disabled');
            }

            function updateForwardToValue() {
                var addrs = [];
                this.find('.js-forward-to-addresses input').each(function(i, el) {
                    el = $(el);
                    addrs.push(el.val());
                });
                this.find('.js-forward-to').val(JSON.stringify(addrs));
            }

            $(document).ready(function() {
                $('.js-change-password').click(function() {
                    var modal = $('#js-modal-change-password');
                    setTextOrValue(modal.find('.js-email'), $(this).data('addr'));
                    modal.find('input[name=password]').val('');
                    modal.modal();
                });

                $('.js-remove-address').click(function() {
                    var modal = $('#js-modal-remove-address');
                    setTextOrValue(modal.find('.js-email'), $(this).data('addr'));
                    modal.modal();
                });

                $('.js-add-address').click(function() {
                    var modal = $('#js-modal-add-address');
                    setTextOrValue(modal.find('.js-domain'), $(this).data('domain'));
                    modal.find('input[name=password],input[name=name]').val('');
                    modal.find('button').removeAttr('disabled');
                    modal.find('input[name=name]').on('input', function() {
                        if ($(this).val().indexOf('@') !== -1) {
                            modal.find('.js-warn-addr').show();
                            modal.find('button').attr('disabled', 'disabled');
                        } else {
                            modal.find('.js-warn-addr').hide();
                            modal.find('button').removeAttr('disabled');
                        }
                    });

                    var container = modal.find('.js-forward-to-addresses');
                    var addAddress = addForwardingAddress.bind(container);
                    container.empty();
                    addAddress();

                    modal.find('.js-add-another').click(addAddress);
                    modal.find('button[type=submit]').click(updateForwardToValue.bind(modal));
                    modal.modal();
                });

                $('.js-edit-forward-to').click(function() {
                    var modal = $('#js-modal-edit-forward-to');
                    setTextOrValue(modal.find('.js-email'), $(this).data('addr'));

                    var container = modal.find('.js-forward-to-addresses');
                    var addAddress = addForwardingAddress.bind(container);
                    container.empty();

                    // jQuery magically parses this as JSON if it looks like JSON.
                    // Terrifying.
                    var forwardTo = $(this).data('forward-to');
                    for (var i = 0; i < forwardTo.length; i++)
                        addAddress(forwardTo[i]);

                    modal.find('.js-add-another').click(addAddress);
                    modal.find('button[type=submit]').click(updateForwardToValue.bind(modal));

                    modal.modal();
                });
            });
        })();
    </script>
{% endblock %}
