{% extends "base.html" %}
{% load common %}
{% load humanize %}
{% load static %}
{% load vhost_mail %}

{% block content %}
    <div class="ocf-content-block">
        <div class="row">
            <div class="col-md-8">
                {% if not vhosts %}
                    <h3>You don't currently have mail virtual hosting.</h3>
                {% endif %}
                <p>
                    Mail virtual hosting lets you receive mail at a domain like
                    <code>@mygroup.studentorg.berkeley.edu</code>. You can create as many
                    addresses as you'd like&ndash;for your officers, members,
                    committees, and more. Learn how to send and receive e-mails
                    through Gmail
                    <a href="{% url 'doc' 'services/vhost/mail/gmail' %}">here</a>.
                </p>
            </div>
        </div>

        {% if vhosts %}
            {% for vhost in vhosts %}
                <hr />
                <h3>{{vhost.domain}}</h3>
                {% with vhost.addresses as forwarding_addresses %}
                    <table class="table table-striped">
                        <tr>
                            <th>Email address</th>
                            <th>Forward to</th>
                            <th>Password<small>*</small></th>
                            <th>Last updated</th>
                            <th>&nbsp;</th>
                        </tr>

                        {% if not vhost.has_wildcard %}
                            <tr class="no-catchall">
                                <td colspan="5">
                                    <strong>You don't have a catch-all address set.</strong>
                                    <a
                                        role="button"
                                        class="js-add-catchall"
                                        data-toggle="popover"
                                        data-trigger="focus"
                                        data-placement="bottom"
                                        data-domain="{{vhost.domain}}"
                                    >More details.</a>
                                </td>
                            <tr>
                        {% endif %}

                        {% if forwarding_addresses %}
                            {% for addr in forwarding_addresses %}
                                <tr>
                                    <td>
                                        {% if not addr.is_wildcard %}
                                            <p>
                                                <!-- pardon long line, must avoid spacing -->
                                                {{addr.address|address_to_parts|getitem:0}}<span class="subtle">@{{addr.address|address_to_parts|getitem:1}}</span>
                                            </p>
                                            <small><a role="button">Edit</a></small>
                                        {% else %}
                                            Catch-all address<br />
                                            <a
                                                role="button"
                                                class="small js-catchall-whats-this"
                                                data-toggle="popover"
                                                data-trigger="focus"
                                                data-placement="bottom"
                                            >What's this?</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for to in addr.forward_to|sort %}
                                                <li>{{to}}</li>
                                            {% endfor %}
                                        </ul>
                                        <small>
                                            <a role="button" data-forward-to="{{addr.forward_to|sort|join:','}}" data-addr="{{addr.address}}" class="js-edit-forward-to">Edit</a>
                                        </small>
                                    </td>
                                    <td>
                                        {% if not addr.is_wildcard %}
                                            <small><a role="button" data-addr="{{addr.address}}" class="js-change-password">
                                                {% if addr.crypt_password %}
                                                    Change
                                                {% else %}
                                                    Set
                                                {% endif %}
                                            </a></small>
                                        {% else %}
                                            n/a
                                        {% endif %}
                                    </td>
                                    <td title="{{addr.last_updated}}">{{addr.last_updated|naturaltime}}</td>
                                    <td>
                                        <small><a role="button" class="js-remove-address" data-addr="{{addr.address}}">
                                            Remove
                                        </a></small>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    <em>You don't have any forwarding addresses defined yet.</em>
                                </td>
                            <tr>
                        {% endif %}
                    </table>

                    <button type="submit" class="btn btn-small btn-default js-add-address" data-domain="{{vhost.domain}}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add address
                    </button>
                    <h4>CSV import/export</h4>
                    <form class="form-inline js-import-csv-form" enctype="multipart/form-data" action="{% url 'vhost_mail_csv_import' vhost.domain %}" method="post">
                        <a class="btn btn-default" href="{% url 'vhost_mail_csv_export' vhost.domain %}">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            Download CSV
                        </a>
                        <div class="form-group">
                            <label class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                Upload CSV
                                <input type="file" class="hidden js-import-csv" name="csv_file" accept="text/csv" />
                            </label>
                        </div>
                        <a href="#csv_import_export">What's this?</a>
                        {% csrf_token %}
                    </form>
                {% endwith %}
            {% endfor %}
            <hr />
            <small>
                * Passwords can't be retrieved after being set, but you can always change them again.
            </small>
            <div class="row">
                <div class="col-md-8">
                    <h4 id="csv_import_export">Importing and exporting CSVs</h4>
                    <p>
                        You can use CSV spreadsheets to manage your forwarding
                        addresses. Clicking "Download CSV" will allow you to
                        download all your forwarding addresses for a particular
                        domain and the emails they forward to. Clicking "Upload
                        CSV" will let you pick a CSV file to add new forwarding
                        rules or update existing ones; no addresses will be
                        deleted.
                    </p>
                    <p>
                        The CSV format for downloading and uploading has two
                        columns. The first contains the name part of the
                        forwarding address (i.e. the part before
                        <code>@mygroup.studentorg.berkeley.edu</code>). The second
                        contains all the receiving emails in a list separated
                        by commas and/or whitespace.
                    </p>
                    <p>
                        Here's an example of what a valid uploaded CSV
                        file might look like in a spreadsheet application:
                    </p>
                    <p><img class="img-responsive" src="{% static 'img/account/vhost_mail/example_csv.png' %}" /></p>
                    <p>
                        And here is what it should look like in a text editor:
                        <pre>{{example_csv}}</pre>
                    </p>
                    <h5>Limitations</h5>
                    <p>
                        You cannot set or retrieve passwords or your catch-all
                        address via CSV.
                    </p>
                </div>
            </div>
        {% else %}
            <p>
                Mail virtual hosting is a free service from the friendly
                student volunteers of the Open Computing Facility. Interested
                in signing up?
                <a href="{% url 'doc' 'services/vhost/mail' %}">Read more about mail virtual hosting.</a>
        {% endif %}

    </div>
{% endblock %}


{% block body_custom %}
    {% include 'account/partials/vhost_mail/modals/add-address.html' %}
    {% include 'account/partials/vhost_mail/modals/change-password.html' %}
    {% include 'account/partials/vhost_mail/modals/edit-forward-to.html' %}
    {% include 'account/partials/vhost_mail/modals/remove-address.html' %}
{% endblock %}

{% block inline_js %}
    <script src="{% static 'js/pages/account/vhost_mail.js' %}"></script>
{% endblock %}
