The OCF has received a lab reservation request!

Submitter: {{request.real_name}}
Email: {{request.contact_email}}
Student Group: {{request.student_group}}
Start Time: {{request.starttime}}
End Time: {{request.endtime}}
Date: {{request.date}}

The reason for the request:
{{request.reason}}
