.page-vhost_mail {
    $spacing: 5px;

    .js-forward-to-addresses .row {
        margin-bottom: $spacing;
    }

    .forward-to-input-col {
        padding-right: $spacing;
    }

    .forward-to-remove-col {
        padding-left: 0;

        button {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .no-catchall {
        background-color: #fdfdde;
        font-size: 14px;

        td {
            padding: 15px;
        }
    }


    .js-wildcard {
        .hide-wildcard {
            display: none;
        }

        .show-wildcard {
            display: block;
        }
    }

    .show-wildcard {
        display: none;
    }
}
