<div id="footer">
<div id="footer-inner">

<div id="ankle-lists">
    <div class="ankle">
        <h4>OCF-Hosted Sites</h4>
        <ul>
        <li><a href="http://www.ocf.berkeley.edu/User_Pages.shtml">User Homepages</a></li>
        <li><a href="http://www.ocf.berkeley.edu/Group_Pages.shtml">Student Groups</a></li>
        <li><a href="http://www.ocf.berkeley.edu/campus">Campus Links</a></li>
        </ul>
    </div>

    <div class="ankle">
        <h4>Account Tools</h4>
        <ul>
        <li><a href="https://secure.ocf.berkeley.edu/account_tools/commands">My Account</a></li>
        <!--<li><a href="http://www.ocf.berkeley.edu/cgi-bin/people4.cgi?maxidle=120">Staff Online</a></li>--><!--does not work-->
        <!--<li><a href="http://www.ocf.berkeley.edu/server-status">Webserver Uptime</a></li>-->
        <!--<li><a href="http://www.ocf.berkeley.edu/cgi-bin/ruptime2.pl">System Status</a></li>--><!--does not work-->
        </ul>
    </div>

    <div class="ankle">
        <h4>OCF Activity</h4>
        <ul>
        <li><a href="http://status.ocf.berkeley.edu/" class="external">OCF Updates Blog</a></li>
        <li><a href="http://www.ocf.berkeley.edu/OCF">What is the OCF</a></li>
        <li><a href="http://www.ocf.berkeley.edu/OCF/staff/">Volunteer Staff</a></li>
        </ul>
    </div>

    <div class="ankle">
        <h4>Help and Support</h4>
        <ul>
        <li><a href="http://wiki.ocf.berkeley.edu/" class="wiki">Help Main Page (Wiki)</a></li>
        <li><a href="http://wiki.ocf.berkeley.edu/membership/" class="wiki">Get a Free Account</a></li>
        <li><a href="http://wiki.ocf.berkeley.edu/services/" class="wiki">Services We Provide</a></li>
        <li><a href="http://wiki.ocf.berkeley.edu/contact/" class="wiki">Contact/Locate Us</a></li>
        <!--<li><a href="http://webcam.ocf.berkeley.edu">Lab Webcam</a></li>--><!--does not exist-->
        </ul>
    </div>

</div><!--end div ankle-lists-->

<!-- <div id="sponsors"></div> -->

<p id="footer-links"><a href="http://wiki.ocf.berkeley.edu/staff/">Staff Profiles</a> | <a href="http://wiki.ocf.berkeley.edu/docs/">Constitution and Policies</a> | <a href="http://www.ocf.berkeley.edu/images/hosted-logos">Hosting Logos</a></p>

<!-- this is not 2005 <p id="hosted-by"><a href="http://validator.w3.org/check?uri=referer"><img src="/iconxhtml.png" width="54" height="12" alt="[XHTML]" title="XHTML1.0 Transitional" /></a>&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css3"><img src="/iconcss.png" width="54" height="12" alt="[CSS]" title="CSS" /></a></p> -->

<p id="copyright">
Copyright &copy; 1996-2014 Board of Directors of the Open Computing Facility.<br />
All human and zombie rights reserved.<br />
<a href="http://www.asuc.org">ASUC Funded</a>. <a href="http://www.berkeley.edu">UC Berkeley</a>.
</p>

</div><!--end div footer-inner-->

</div><!--end div footer-->
