$color-blue-baby: #cbe1ea;
$color-blue-light: #f8fcfc;
$color-blue: #298399;
$color-gray-light: #ccc;
$color-gray: #222;
$color-green-light: #ddee99;
$color-yellow-light: #ffffcc;
$color-penguin-blue: #0f4d92;
$color-penguin-yellow: #ffd700;

$color-white: #EDF7F2;
$color-green1: #ddee99;
$color-yellow: #FFFFA6;
$color-blue1: #2F2933;
$color-blue2: #01A2A6;
$color-blue3: #29D9C2;

.page-about-staff {
    .ocf-lab {
        background-color: $color-blue1;
        color: white;

        padding: 20px;

        h2,
        h3 {
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 10px;

        }

        h2 {
            margin-top: 15px;
            font-size: 32px;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 22px;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        a {
            color: #b4ffff;
        }

        p {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 10px;

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        img {
            width: 100%;
        }
    }

    .ocf-first {
        padding: 15px 0;
        background-color: $color-blue1;
        color: white;

        a {
            color: #ddd;
            text-decoration: underline;
        }

        h2 {
            font-size: 38px;
            margin-bottom: 10px;
            font-weight: bold;

            @media (max-width: 767px) {
                font-size: 24px;
                margin-bottom: 5px;
            }
        }

        h3 {
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: bold;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    .ocf-please {
        padding: 15px 0;
        background-color: $color-blue2;
        color: white;

        h2 {
            font-size: 38px;
            margin-bottom: 15px;
            font-weight: bold;
            text-align: center;
            padding: 0 15px;

            @media (max-width: 767px) {
                font-size: 24px;
            }
        }

        h3 {
            font-size: 28px;
            margin-bottom: 15px;
            font-weight: bold;

            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }

    .ocf-logos {
        padding: 15px 0;
        background-color: $color-white;

        h2 {
            font-size: 22px;
            margin-bottom: 15px;
            font-weight: bold;
            text-align: center;
            padding: 0 15px;
        }

        img {
            margin: 5px 10px;
            width: 96px;
            height: 96px;

            @media (max-width: 767px) {
                width: 64px;
                height: 64px;
            }
        }

        p {
            text-align: center;
        }
    }

    .ocf-services {
        background-color: $color-blue3;
        color: black;
        padding-bottom: 30px;

        h2 {
            font-size: 22px;
            margin-bottom: 15px;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 20px;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 15px;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        h2,
        h3 {
            font-weight: bold;
            text-align: center;
            padding: 0 15px;
        }

        > div > div > div {
            color: black;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 5px;
        }
    }

    .ocf-meeting {
        background-color: $color-blue2;
        color: white;

        padding-bottom: 20px;

        h2 {
            font-weight: bold;
            font-size: 32px;
        }

        a {
            color: #fff;
            text-decoration: underline;

            &:hover {
                color: #eee;
            }
        }

        p {
            font-size: 16px;

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        .ocf-button-holder {
            background-color: $color-white;
            color: black;
            margin-top: 20px;
            padding: 15px;

            h2 {
                font-size: 24px;
                font-weight: bold;
                margin-top: 0;
            }

            h2,
            p {
                margin-bottom: 5px;
            }

            a {
                color: #333;
            }

            .btn {
                border: solid 1px #bbb;
                background-color: #fcfcfc;
                margin-right: 10px;
                color: black;

                &:hover {
                    background-color: $hero-button-color-hover;
                }
            }
        }
    }

    .ocf-hero {
        p {
            font-size: 20px;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        h1 {
            font-weight: 800;

            @media (max-width: 767px) {
                font-size: 20px;
            }

            @media (min-width: 992px) {
                font-size: 40px;
            }
        }

        .ocf-penguin-holder {
            padding: 10px;
        }
    }

}
