$lab-color-blue1: #3E454C;
$lab-color-blue2: #2185C5;
$lab-color-blue3: #7ECEFD;
$lab-color-white1: #FFF6E5;
$lab-color-white2: #EDF7F2;
$lab-color-red: #FF7F66;

$lab-color-green1: #225378;
$lab-color-green2: #1695A3;
$lab-color-blue4: #4BB5C1;
$lab-color-blue5: #7FC6BC;

$lab-bg-color: $lab-color-green2;

.page-lab-open-source,.page-lab-vote,.page-lab-survey {
    body {
        background-color: $lab-bg-color;
    }

    .ocf-navbar {
        background-color: white;
    }


    .container.ocf-lab-content {
        padding: 40px 0;
    }

    .lab-intro {
        background-color: $lab-color-white2;
        padding: 40px 0;

        p {
            color: #111;
            font-size: 18px;
            text-align: center;
        }

        .intro {
            padding: 10px;
            max-width: 600px;
            margin: 0 auto;
        }
    }


    h2,
    h3 {
        color: #333;
        text-align: center;

        margin-left: 10px;
        margin-right: 10px;
        font-weight: 600;
    }

    h2 {
        font-size: 28px;
        margin-top: 0;
    }

    h3 {
        margin-top: 20px;
        font-size: 36px;
    }

    .ocf-copyright {
        padding: 15px;
        p { color: #555; }
    }

    .learnmore > a {
        margin: 15px 0;
        font-size: 20px;
        padding: 15px;
        background-color: $lab-color-green1;
        color: white;

        &:hover {
            background-color: #EB7F00;
        }
    }

    .ocf-logos img {
        margin: 10px;

        @media (min-width: $screen-lg-min) {
            width: 96px;
            height: 96px;
        }

        @media (max-width: 991px) {
            width: 64px;
            height: 64px;
        }

        @media (max-width: 1199px) and (min-width: 992px) {
            width: 84px;
            height: 84px;
        }
    }
}
