{% load static %}
{% load lab_hours %}

<!doctype html>
<!--
      Think this site is hideous? We could use your help!
      More info at {{join_staff_url}} :-)

      This is ocfweb version {{ocfweb_version}}
      https://github.com/ocf/ocfweb/
-->
<html class="{{base_css_classes}}">

{% include 'partials/head.html' %}

    <body>
        <div class="navbar ocf-navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Open Computing Facility</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden-sm"><a href="{% url 'register' %}">Join</a></li>
                        <li class="dropdown">
                            <a href="{% url 'doc' 'about' %}" class="dropdown-toggle" data-toggle="dropdown">
                                About <span class="hidden-sm">Us</span> <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'doc' 'about' %}">Our Organization</a></li>
                                <li><a href="{% url 'about-staff' %}">Joining the Staff Team</a></li>
                                <li><a href="{% url 'stats' %}">Lab Statistics</a></li>
                                <li><a href="{% url 'doc' 'staff/backend' %}">Backend Infrastructure</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="{% url 'doc' 'services' %}" class="dropdown-toggle" data-toggle="dropdown">
                                Services <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'doc' 'services/lab' %}">Computer Lab</a></li>
                                <li><a href="{% url 'doc' 'services/lab/printing' %}">Printing</a></li>
                                <li><a href="{% url 'doc' 'services/web' %}">Web Hosting</a></li>
                                <li><a href="{% url 'doc' 'services/webapps' %}">Application Hosting</a></li>
                                <li><a href="{% url 'doc' 'services/shell' %}">SSH/SFTP (Shell)</a></li>
                                <li><a href="{% url 'doc' 'services/mail' %}">Email Hosting</a></li>
                                <li><a href="{% url 'doc' 'services/mysql' %}">MySQL Database</a></li>
                                <li><a href="{% url 'doc' 'services/mirrors' %}">Software Mirrors</a></li>
                            </ul>
                        </li>

                        <li><a href="{% url 'staff-hours' %}">Staff Hours</a></li>
                        <li><a href="{% url 'docs' %}">Help</a></li>
                        <li><a href="{% url 'doc' 'contact' %}">
                                Contact <span class="hidden-sm">Us</span>
                        </a></li>

                        {% if user %}
                            <li class="dropdown">
                                <a class="ocf-account-dropdown dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    {{user}}
                                    <span class="caret"></span>
                                </a>

                                <!-- TODO: refactor this -->
                                <ul class="dropdown-menu" role="menu">
                                    {% if user_is_group %}
                                        <li><a href="{% url 'vhost_mail' %}">Mail Virtual Hosting</a></li>
                                    {% endif %}

                                    <li><a href="{% url 'commands' %}">Commands</a></li>
                                    <li><a href="{% url 'change_password' %}">Change Password</a></li>
                                    <li><a href="{% url 'logout' %}?next={{request_full_path}}">Log Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}?next={{request_full_path}}" class="ocf-account-dropdown">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    Log In
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="ocf-status-bar">
            <div class="container">
                <p>
                    {% if not lab_status.force_lab_closed %}
                        {% if lab_is_open %}
                            <strong>Lab Currently Open</strong>
                        {% else %}
                            <strong>Lab Currently Closed</strong>
                        {% endif %}
                        <span class="nowrap">
                            {% if not lab_is_open and not current_lab_hours.closed_all_day %}
                                Hours:
                            {% endif %}
                            {{current_lab_hours.hours|lab_hours_time}}
                            on {{current_lab_hours.weekday}} {{current_lab_hours | lab_hours_holiday}}
                            <a class="subtle" href="{% url 'doc' 'services/lab' %}">more &raquo;</a>
                        </span>
                    {% else %}
                        <strong>Lab Temporarily Closed</strong>
                        <a class="subtle" href="{% url 'home' %}">more &raquo;</a>
                    {% endif %}
                </p>
            </div>
        </div>

        {% block hero %}
            {% if title %}
                <div class="ocf-hero ocf-page-title">
                    <div class="container">
                        <h1>{{title}}</div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block container %}
        <div class="ocf-content container">
            {% block messages %}
                {% if messages %}
                    <div class="ocf-messages">
                        {% for message in messages %}
                            <div class="alert alert-{{message.level_tag}}">{{message}}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% endblock %}

        {% block footer %}
            <div class="footer ocf-footer">
                {% block footer-top %}
                    <div class="ocf-footer-top">
                        <div class="container">
                            <p class="text-center">OCF &hearts;
                            <a href="https://www.linuxfoundation.org/">Linux</a>,
                            <a href="https://www.python.org/">Python</a>,
                            <a href="https://puppet.com/">Puppet</a>,
                            <a href="https://www.ruby-lang.org/en/">Ruby</a>,
                            and Free/Open-Source Software. <span class="nowrap">Sound like you?
                            <a href="{% url 'about-staff' %}">Join the staff team!</a></span></p>
                        </div>
                    </div>
                {% endblock %}

                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>About the OCF</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'doc' 'about' %}">Overview</a></li>
                                <li><a href="{% url 'doc' 'about/officers' %}">Officers</a></li>
                                <li><a href="{% url 'doc' 'docs' %}">Official Documents</a></li>
                                <li><a href="https://www.ocf.berkeley.edu/~staff/bod/">Board Meeting Minutes</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-3">
                            <h5>Account Tools</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'register' %}">Join the OCF</a></li>
                                <li><a href="{% url 'change_password' %}">Reset Password</a></li>
                                <li><a href="{% url 'commands' %}">Manage My Account</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-3">
                            <h5>Services</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'doc' 'services/lab' %}">Computer Lab &amp; Printing</a></li>
                                <li><a href="{% url 'doc' 'services/web' %}">Web Hosting</a></li>
                                <li><a href="{% url 'doc' 'services/mail' %}">Email Hosting</a></li>
                                <li><a href="{% url 'doc' 'services/shell' %}">SSH/Remote Shell</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-3">
                            <h5>Help and Support</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://status.ocf.berkeley.edu/">Status Blog</a></li>
                                <li><a href="{% url 'doc' 'faq' %}">Frequently Asked Questions</a></li>
                                <li><a href="{% url 'docs' %}">User Documentation</a></li>
                                <li><a href="{% url 'doc' 'staff' %}">Staff Documentation</a></li>
                                <li><a href="{% url 'doc' 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="ocf-copyright">
                        <p>The Open Computing Facility is run entirely by student volunteers.</p>
                        <p>Copyright &copy; 1989&ndash;{% now 'Y' %} Board of Directors of the Open Computing Facility.</p>
                        <p>The Open Computing Facility is a Chartered Program of the ASUC.</p>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- Block intended to be overidden later for stuff like modals that should be under <body> -->
        {% block body_custom %}{% endblock %}

        <!-- Hack to make browsers load glyphicons immediately.

             Without this, there is awkward flashing on some pages (e.g. docs)
             when hovering over something and a glyphicon appears.
        -->
        <span style="font-family: 'Glyphicons Halflings';"></span>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{% static 'js/site.js' %}"></script>

        {% include "partials/google-analytics.html" %}
        {% block inline_js %}{% endblock %}
    </body>
</html>
