{% load staticfiles %}
{% load lab_hours %}

<!doctype html>
<html class="page-{{request.resolver_match.url_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if description %}
            <meta name="description" content="{{description}}">
        {% endif %}

        <title>
            {% if fulltitle %}
                {{fulltitle}}
            {% else %}
                {% if title %}
                    {{title}} &ndash;
                {% endif %}
                Open Computing Facility
            {% endif %}
        </title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,500,500italic" rel="stylesheet">
        <link href="{% static 'scss/site.scss.css' %}" rel="stylesheet" />
        <link rel="icon" href="{% static 'img/favicon-16.png' %}" sizes="16x16" />
        <link rel="icon" href="{% static 'img/favicon-32.png' %}" sizes="32x32" />

        <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv-3.7.3.min.js' %}"></script>
            <script src="{% static 'js/respond-1.4.2.min.js' %}"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar ocf-navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Open Computing Facility</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://accounts.ocf.berkeley.edu/request-account">Join</a></li>
                        <li><a href="https://www.ocf.berkeley.edu/OCF/">About Us</a></li>

                        <li class="dropdown">
                            <a href="https://wiki.ocf.berkeley.edu/services/" class="dropdown-toggle" data-toggle="dropdown">
                                Services <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'lab' %}">Computer Lab</a></li>
                                <li><a href="https://wiki.ocf.berkeley.edu/services/lab/printing/">Printing</a></li>
                                <li><a href="https://wiki.ocf.berkeley.edu/services/web/">Web Hosting</a></li>
                                <li><a href="https://wiki.ocf.berkeley.edu/services/webapps/">Application Hosting</a></li>
                                <li><a href="https://wiki.ocf.berkeley.edu/services/shell/">SSH/SFTP (Shell)</a></li>
                                <li><a href="https://wiki.ocf.berkeley.edu/services/vhost/#email">Email Hosting</a></li>
                                <li><a href="https://wiki.ocf.berkeley.edu/services/mysql/">MySQL Database</a></li>
                            </ul>
                        </li>

                        <li><a href="{% url 'staff-hours' %}">Staff Hours</a></li>
                        <li><a href="{% url 'docs' %}">Documentation</a></li>
                        <li><a href="https://wiki.ocf.berkeley.edu/contact/">Contact Us</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="ocf-status-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <p>
                        {% if lab_is_open %}
                            <strong>Lab Currently Open</strong>
                        {% else %}
                            <strong>Lab Currently Closed</strong>
                        {% endif %}
                        {{current_lab_hours|lab_hours_time}}
                        </p>
                    </div>
                    <div class="col-md-8 col-sm-6 hidden-xs">
                        <ul class="text-right list-inline ocf-status-list">
                            {% for service, status in ocf_status.items %}
                                <li class="ocf-status-{{status|yesno:'ok,bad'}}">
                                    {{service}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block hero %}{% endblock %}

        <div class="ocf-content container">
            {% block content %}{% endblock %}
        </div>

        <div class="footer ocf-footer">
            <div class="ocf-footer-top">
                <div class="container">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit? <a href="https://hello.ocf.berkeley.edu/">Join the staff team.</a></p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>About the OCF</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://wiki.ocf.berkeley.edu/docs/">Official Documents</a></li>
                            <li><a href="https://www.ocf.berkeley.edu/OCF/">History</a></li>
                            <li><a href="https://www.ocf.berkeley.edu/OCF/staff/">Volunteer Staff Team</a></li>
                            <li><a href="https://www.ocf.berkeley.edu/OCF/officers.shtml">Current Officers</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h5>Account Tools</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://accounts.ocf.berkeley.edu/request-account">Join the OCF</a></li>
                            <li><a href="https://accounts.ocf.berkeley.edu/change-password">Reset Password</a></li>
                            <li><a href="https://accounts.ocf.berkeley.edu/commands">Manage My Account</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h5>Services</h5>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'lab' %}">Computer Lab &amp; Printing</a></li>
                            <li><a href="https://wiki.ocf.berkeley.edu/services/web/">Web Hosting</a></li>
                            <li><a href="https://wiki.ocf.berkeley.edu/services/mail/">Email Hosting</a></li>
                            <li><a href="https://wiki.ocf.berkeley.edu/services/shell/">SSH/Remote Shell</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h5>Help and Support</h5>
                        <ul class="list-unstyled">
                            <li><a href="http://status.ocf.berkeley.edu/">Status Blog</a></li>
                            <li><a href="https://wiki.ocf.berkeley.edu/">User Documentation</a></li>
                            <li><a href="https://wiki.ocf.berkeley.edu/staff/">Staff Documentation</a></li>
                            <li><a href="https://wiki.ocf.berkeley.edu/contact/">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="ocf-copyright">
                    <p>The Open Computing Facility is run entirely by student volunteers.</p>
                    <p>Copyright &copy; 1989&ndash;{% now 'Y' %} Board of Directors of the Open Computing Facility</p>
                </div>
            </div>
        </div>

        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'js/underscore-1.8.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-3.3.5.min.js' %}"></script>
        <script src="{% static 'js/site.js' %}"></script>
    </body>
</html>
